/*Fonts Used
font-family: 'Poppins', sans-serif;
font-family: 'Hind', sans-serif;
*/
body{font-family:'Poppins',sans-serif;color:#333;font-size:16px;    overflow-x: hidden;}
.hind-font{font-family:'Hind',sans-serif;}
h2,.special-fbox-media h4,.footer h4,.carousel-caption .carousel-btn,.product .product-details h3{font-family:'Hind',sans-serif;}
a{color:#0E88CA;outline:none;}
input[type="button"],input[type="submit"]{outline:none;}
input:focus{outline:none;box-shadow:0 0 0 0 transparent!important;    border: #0e88ca 1px solid;}
a:focus,a:hover{color:#07689c;text-decoration:none;}
img{max-width:100%;}

/* Alignment */
.bor-radius-none{border-radius:0!important;}
.m-tb10{margin:10px 0px!important;}
.m-t10{margin-top:10px!important;}
.m-t5{margin-top:5px!important;}
.m-t0{margin-top:0px!important;}
.m-b0{margin-bottom:0px!important;}
.m-b10{margin-bottom:10px!important;}
.m-b15{margin-bottom:15px!important;}
.m-b5{margin-bottom:0.3125rem!important;}
.m-t40{margin-top:40px!important;}
.m-t15{margin-top:15px!important;}
.m-t9{margin-top:9px!important;}
.m-t15{margin-top:20px!important;}
.m-t25{margin-top:25px!important;}
.m-b25{margin-bottom:25px!important;}
.m-r5{margin-right:5px!important;}
.m-l10{margin-left:10px!important;}
.m-l5{margin-left:5px!important;}
.m-r10{margin-right:10px!important;}
.p-l5{padding-left:5px!important;}
.p-r5{padding-right:5px!important;}
.p-t30{padding-top:30px!important;}
.p-t20{padding-top:20px!important;}
.p-t10{padding-top:10px!important;}
.p-t15{padding-top:15px!important;}
.p-t0{padding-top:0px!important;}
.p-b5{padding-bottom:5px!important;}
.p-b10{padding-bottom:10px!important;}
.p-b15{padding-bottom:15px!important;}
.p-l10{padding-left:10px!important;}
.p-b20{padding-bottom:20px!important;}
.p-20{padding:20px!important;}
.p-b30{padding-bottom:30px!important;}
.p-b40{padding-bottom:40px!important;}
.p-b50{padding-bottom:50px!important;}
.p-b75{padding-bottom:75px!important;}
.p-0{padding-left:0rem!important;}
.p-t10{padding-top:0.625rem!important;}
.p-l0{padding-left:0rem!important;}
.p-r0{padding-right:0rem!important;}
.m-b0{margin-bottom:0rem!important}
.f-s14,p{font-size:0.8125rem!important;}
.f-s13{font-size:0.8125rem!important;}
.f-s12{font-size:0.6875rem!important;}
.f-s18{font-size:1rem!important;}
.f-s12{font-size:0.6875rem!important;}
.f-s16{font-size:1rem!important;}
.p-tb5{padding:5px 0px!important;}
.black{color:#000000}
.red{color:#0E88CA}
.font-w500{font-weight:500;}
.font-w700{font-weight:700;}
.text-underline{text-decoration:underline;font-weight:600!important;color:#000!important;}
.text-uper{text-transform:uppercase;}
.text-gray{color:#666666}
.text-gray{color:#666666}
.text-pink{color:#0E88CA;}
.compare.wrapper{display:none!important;}
.font-w-normal{font-weight:normal;}
.banner-h5{color:#efefef!important;line-height:27px;font-style:italic;}

/* chat */
.mylivechat_collapsed,.mylivechat_expanded,.mylivechat_prechat_submit_button,.mylivechat_offline_submit_button{background: #0E88CA!important; border-color: #0E88CA!important;}

/* Text color */
.bg-yellow{background-color:#f2c81d;}
.bg-skyblue{background-color:#00adef!important;}

/* Text color */
.text-white{color:#fff;}
.text-right{text-align:right!important;}
.text-center{text-align:center;!important;}
.text-left{text-align:left;!important;}
.parsley-errors-list,.parsley-errors-list li{padding:0;margin:0;list-style:none;font-size:11px;color:#ff0202;}
.parsley-errors-list li{margin-top:0.1875rem;padding-left:20px;}
.help-block{margin-bottom:0}
.w-95{max-width:95%;}

/* Top Header and Navigation */
.logo{max-width:100%!important;margin:0!important;}
.header-top{position:relative;padding:10px 0;/* overflow:hidden; */}
.header-top:after{content:'';/*background:#D6D6D6;*/width:100%;max-width:1170px;height:1px;margin:0 auto;position:absolute;left:50%;bottom:0;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);}
.header-top ul{margin:0;padding:0;font-size:0.6875rem;display: block;}
.header-top ul li{margin:0;padding:0;list-style:none;display:inline-block;color:#333;/*change after pravesh comment font-size:0.6875rem;*/font-size:0.75rem}
.header-top ul li a{color:#333;text-decoration:none;/*change after pravesh comment font-size:0.6875rem;*/font-size:0.75rem;font-weight:500;}
.header-top ul li a:hover{color:#0E88CA;}
.header-top ul li div a{font-size:0.8rem; cursor: pointer;}
.header-top ul li .dropdown-item.active, .header-top ul li .dropdown-item:active{color:#fff;text-decoration:none;background-color:#0E88CA;}
.header-top .header-top-left i{color:#000;margin-right:4px;}
.header-top .header-top-left i.fa-phone{font-size:0.8125rem;font-weight:bold;position:relative;top:2px;}
.header-top .header-top-left li{padding-left:13px;}
.header-top .header-top-left li:first-child{padding-left:0px;}
.header-top .header-top-right{display: inline-block; vertical-align: top;}
.header-top .header-top-right .hello-user i{color:#000;margin-right:4px;}
.header-top .header-top-right .hello-user{color:#A5A5A5;position:relative;padding:0 11px 0 0;margin-right:6px;}
.header-top .header-top-right .hello-user:before{content:'';background-color:#AAA;width:1px;height:1.125rem;position:absolute;top:0;right:0;}
.custom-header{padding:1rem 0;margin-bottom:0px!important;}
.nav-container{/*max-width:1200px;*/margin:0 auto;}
.custom-header .navbar-brand{padding:0;height:auto!important;}
.custom-header .free-shipping.navbar-right{font-size:24px;font-weight:500;padding:15px 50px;}
.custom-header input.form-control{padding:1.375rem 20px;border-radius:0px 5px 5px 0px;}
.custom-header .input-group-addon{padding:0px 17px;background:#fff;border-radius:5px 0px 0px 5px;}
.navbar-right.checkout{padding:0;display:inline;}
.navbar-right.checkout li{padding:0 24px 0 24px;font-size:0.8125rem;color:#333;border:none;position:relative;display:inline-block;vertical-align:top;}
.navbar-right.checkout li:first-child{padding:0;}
.navbar-right.checkout li a{font-size:0.8125rem;line-height:19px;color:#333;border:none;padding:0;}
.navbar-right.checkout li a:hover{background-color:transparent;color:#0E88CA;}
.navbar-right.checkout li span{color:#333;font-size:0.75rem;}
#totalPrice{color:#333;font-weight:500;}
.navbar-right.checkout li .icon{float:left;margin-right:0.75rem;margin-top:1px;position:relative;}
.navbar-right.checkout li .icon img{width: 20px; height: 25px;}
.navbar-right.checkout li .cart-count{position: absolute; top: -4px; right: -9px; background-color: #0E88CA; color: #FFF; font-size: 0.6875rem; min-width: 18px; line-height: 14px; text-align: center; height: 18px; font-style: normal; border-radius: 100px; padding: 2px;} 
.custom-header form.navbar-form.navbar-right{padding:0px 50px;}
.custom-header .minisearch{padding-top:11px;}
.custom-header .minisearch .field.search{background-color:#FFF;border:1px solid #D6D6D6;border-radius:100px;padding:5px;}
.custom-header .minisearch .field.search:focus, .custom-header .minisearch .field.search:active{
    border-color: #5cb3fd !important;}
.custom-header .minisearch .field.search .input-text{background:none;border:none;font-size:0.8125rem;color:#999;width:calc(100% - 40px);padding:7px 15px;font-family:'Poppins',sans-serif;}
.custom-header .minisearch .field.search .action.search{background:#009966 url(../images/icon-search.png) no-repeat center center;width:35px;height:35px;border-radius:100px;border:none;float:right;box-shadow:2px 2px 1.375rem 4px rgba(0, 153, 102, 0.11);cursor:pointer;}
.custom-header .minisearch .field.search .action.search:hover{background-color:#058459;}
.custom-header .minisearch .field.search .action.search span{display:none;}
.search-history{padding:0 0 0 20px;}
.search-history a{font-size:0.6875rem;color:#878787;text-decoration:none;}
.search-history a i.fa{color:#adabab;font-size:19px;position:relative;top:3px;margin-left:3px;}
.search-history a:hover,.search-history a:hover i.fa{color:#0E88CA;}
.navbar-inverse .navbar-nav .nav-link{color:rgba(255,255,255,1.0);}
.custom-nav{background-color:#0E88CA;padding:0;margin-top:0px;}
.custom-nav .contact-no{font-size:1.5625rem;color:#fff;margin-top:7px;}
.custom-nav .navbar-nav>li>a{color:#fff;padding:0.75rem  2.5rem!important;font-size:1rem;}
.navbar-toggleable-md{padding-top:0;padding-bottom:0;}

/*.custom-nav .navbar-nav li:first-child a{ padding-left:0 !important; }*/
.custom-nav .navbar-nav li a:hover,.custom-nav .navbar-nav li a:focus,.custom-nav .navbar-nav li a.active{background-color:#07689c;color:#000;}
.custom-nav  .nav .open>a,.nav .open>a:focus,.nav .open>a:hover{background-color:transparent;}
.custom-nav ul.nav.navbar-nav{margin-top:0;}
.custom-nav ul.nav.navbar-nav li{margin-bottom:0!important;}
.custom-nav .all-product-menu{margin:0 -15px;}
.custom-nav .all-product-menu .navbar-nav li .dropdown-toggle{border:none;border-radius:0;background:#066ea7;}
.custom-nav .all-product-menu .navbar-nav li .dropdown-toggle:hover{background:#96276a;}
.custom-nav  .dropdown-menu{min-width:13.375rem;padding:0;margin:.125rem 0 0;font-size:0.8125rem;color:#000000;border-radius:0;}
.custom-nav  .dropdown-menu{top:93%;}
.custom-nav  .dropdown-menu  .dropdown-item{padding:10px 1.25rem;cursor:pointer;}
.custom-nav  .dropdown-menu  .dropdown-item:hover{background-color:#f5f5f5;}
.custom-nav .all-product-menu .navbar-nav{width:100%;}
.custom-nav .all-product-menu .navbar-nav li{width:100%;margin-bottom:0!important;}
.custom-nav .all-product-menu .navbar-nav li .caret{border-width:5px;position:absolute;right:17px;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);}
.custom-nav .all-product-menu .navbar-nav>li>.dropdown-menu{width:100%;border-radius:0;}
.banner{overflow:hidden;}
.navbar-inverse .navbar-nav .nav-link:focus,.navbar-inverse .navbar-nav .nav-link:hover{color:rgba(255,255,255,.9);}
.myacc-menu {padding-left: 0px; margin-bottom: 0px; }
.myacc-menu li {display: inline-block; list-style:  none;  } 
.myacc-menu li:first-child:after {width: 0; }
.myacc-menu li a {    color: #5a5a5a;
    font-size: 14px;
    padding: 10px 10px;}

.myacc-menu li:hover a, .myacc-menu li a:active{color: #0E88CA;}
.myacc-menu li:after {content:  '';height: 15px;width:  1px;background: #949292;display:  block;margin-top: -18px;}
.myacc-heading {color:  #333; font-size:  16px; margin-left: 10px; }
.myacc-heading:after {height: 4px; width:  50px; background: #0e88ca; content: ''; display:  block; margin-top: 10px; z-index: 9; }
.myacc-heading:before {height: 2px; width: 132px; background: #d6d6d6; content: ''; position: absolute; top: 28px; z-index: 1; left: 75px; }
/* Button */
.btn-blue{background-color:#002A5C;color:#fff;font-weight:500;transition:all linear 300ms;}
.btn-blue:hover{color:#fff;background-color:#043b7c;}
.btn-green{background-color:#6fc100;color:#fff;text-decoration:none;}
.btn-green:hover{color:#fff;}
.page-main{max-width:100%!important;padding:0!important;}
.page-main .column.main{padding-bottom:0!important;}
.cms-home .page-title-wrapper{display:none;}
.price-content-box h4 a{pointer-events:none;}
.data-sheet{border:1px dashed #0E88CA;padding:5px 10px;}
.upload-btn-wrapper{position:relative;overflow:hidden;display:inline-block;}
.btn-upload{color:gray;background-color:white;padding:8px 20px;border-radius:8px;font-size:14px;font-weight:normal;border:#D6D6D6 1px solid;}
.upload-btn-wrapper input[type=file]{font-size:100px;position:absolute;left:0;top:0;opacity:0;}

/* Thumbnail section */
.white-bg{background-image:url(../images/thumbnail-bg.jpg);padding-bottom:1.5625rem;width:100%;background-repeat:no-repeat;background-size:cover;}
.brand-logo{padding:0;display:table;height:150px;width:100%;}
.brand-logo li{list-style:none;display:table-cell;vertical-align:middle;}
.custom-thumbnail{padding:0px;border-radius:8px;}
a.custom-thumbnail.active,a.custom-thumbnail:focus,a.custom-thumbnail:hover{border-color:transparent;}
.custom-thumbnail img{border-radius:8px 8px 0px 0px;width:100%;}
.custom-thumbnail .thumb-text{background:#00ADEF;color:#fff;font-size:0.8125rem;padding:10px 20px;border-radius:0px 0px 8px 8px;}
.custom-thumbnail .thumb-text .arrow{transform:rotate(90deg);float:right;font-size:1.125rem;}
.carousel-control{opacity:1;text-shadow:none;}
.carousel-control .carousel-control-prev-icon,.carousel-control .carousel-control-next-icon{position:absolute;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);z-index:5;display:inline-block;color:#FFF;font-size:50px;background:rgba(238,238,238,0.2);width:60px;height:60px;text-align:center;text-shadow:none;border-radius:100px;line-height:55px;}
.carousel-control .carousel-control-prev-icon{padding-right:2px;left:52px;}
.carousel-control .carousel-control-next-icon{padding-left:8px;right:52px;}
.carousel-caption{bottom:auto;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);text-shadow:none;color:#FFF;}
.carousel-caption h2,.banner-caption h2{font-size:40px;font-weight:400;margin:0 0 1.563rem 0;color:#fff;}
.carousel-caption p{font-size:1rem;line-height:28px;max-width:630px;margin:0 auto 1.5625rem auto;}
.carousel-caption .carousel-btn{background:#FFF;border-radius:100px;color:#0E88CA;font-size:1rem;font-weight:500;padding:10px 0.75rem;text-shadow:none;min-width:160px;display:inline-block;text-decoration:none;}
.carousel-caption .carousel-btn:hover{background:#0E88CA;border-radius:100px;color:#FFF;}
.banner{position:relative;}
.banner img{position:relative;min-height:400px;}
.banner-caption{max-width:770px;width:100%;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}
.banner.custom-header{padding:0!important;margin:0!important;}
.banner .search-history a{color:#fff;}
.banner .search-history a:hover{color:#0E88CA;}

/* Product*/
.product{padding-top:36px;padding-bottom:37px;position:relative;}
.product .product-item{background:#FFF;box-shadow:0 0px 24px 13px rgba(0,0,0,0.039);position:relative;}
.product h2{color:#000;font-size:1.375rem;font-weight:600;margin-bottom:35px;}
.product a{font-size:15px;}
.product-img{text-align:center;padding:29px 0 0 0;}
.product-img img{display:inline-block;}
.product .product-item .wishlist{position:absolute;top:10px;right:10px;}
.product .product-item .wishlist a{color:#CCCCCC;font-size:20px;}
.product .product-item .wishlist a:hover,.product .product-item .wishlist a.active{color:#0E88CA;}
.product .product-details{text-align:center;padding:0 0 30px 0;}
.product .product-details h3{font-size:1rem;font-weight:500;color:#0E88CA;margin-bottom:7px;}
.product .product-details h3 a{font-size:1rem;font-weight:500;color:#0E88CA;text-decoration:none;}
.product .product-details h3:hover a{color:#23527c;}
.product .product-details p{font-size:0.6875rem;color:#666;}
.product .price{color:#333333;font-size:1.125rem;font-weight:600;}
.product  a.btn.btn-green{text-decoration:none;color:0.75rem;font-size:0.6875rem;padding:5px;text-transform:uppercase;float:right;}
.product .slide-controle{position:absolute;right:0;top:40px;}
.product .slide-controle .slide-next,.product .slide-controle .slide-prev{background:#FFF;box-shadow:2px 3px 10px 6px rgba(0,0,0,0.05);width:30px;height:30px;text-align:center;border-radius:100px;line-height:30px;cursor:pointer;color:#464C5D;}
.product .slide-controle .slide-next:hover,.product .slide-controle .slide-prev:hover{color:#FFF;background:#464C5D;}
.product .slide-controle .slide-next{position:absolute;top:0;right:0;}
.product .slide-controle .slide-prev{position:absolute;top:0;right:40px;font-family:'Poppins',sans-serif;}
h2.block-title{color:#000;font-size:1.375rem;font-weight:600;margin-bottom:32px;}
.view-all{font-size:0.8125rem;font-weight:normal;float:right;background:url(../images/arrow-right.png) no-repeat right -1px;display:inline-block;padding:0 1.5625rem 0 0;font-family:'Hind',sans-serif;}
.view-all:hover{background:url(../images/arrow-right-hover.png) no-repeat right -1px;}
.dropdown-item{cursor:default;}
.keep-inside-clicks-open .dropdown-item{font-size:12px;padding:0px 10px;}
.block{display:block;}
.table-grid tr td{vertical-align:top;border:none;padding:0px;}
.table-grid tr td:first-child{text-align:right;padding-right:8px;}

/*News Updates*/
.news-update{margin-top:2.5625rem}
.news-updates-block{background:#F1F2F3;padding:10px 20px 23px 20px;}
.news-updates-block ul{margin:0;padding:0;}
.news-updates-block ul li{margin:0;padding:20px 10px 20px 10px;border-bottom:1px solid #E0E0E0;list-style:none;}
.news-updates-block ul li:last-child{padding-bottom:0;border-bottom:none;}
.news-updates-block ul li .news-img{float:left;}
.news-updates-block ul li .news-content{float:right;width:calc(100% - 102px);padding:0 0 0 20px;}
.news-updates-block ul li .news-content .nc-top{font-size:0.8125rem;color:#999;padding-bottom:0.625rem;}
.news-updates-block ul li .news-content .date{font-size:0.6875rem;color:#999;float:right;}
.news-updates-block ul li .news-content p{font-size:0.8125rem;color:#000;margin-bottom:0;}
.news-updates-block,.suppliers-block{height:95%;}
.news-updates-block ul li .news-content a{font-size:0.8125rem;}
p:empty{display:none;}
.content{display:none;}

/*Suppliers*/
.suppliers-block{border:3px solid #F1F2F3;background:#FFF;}
.suppliers-block ul{margin:0;padding:0;}
.suppliers-block ul li{margin:0;padding:28px 0;list-style:none;float:left;width:33.334%;text-align:center;}

/* Section Special Footer Box */
.section-special-fbox{background:#F1F2F3;padding:28px 0px 31px;width:100%;background-repeat:no-repeat;background-size:cover;margin-top:90px;}
.special-fbox-media{*zoom:1;clear:both;}
.special-fbox-media:before,.special-fbox-media:after{content:" ";display:table}
.special-fbox-media:after{clear:both}
.special-fbox-media-img{float:left;padding-right:1rem;}
.special-fbox-media h4{font-size:1.125rem;font-weight:500;color:#000;margin-bottom:7px;}
.special-fbox-media p{font-size:12px;line-height:20px;color:#666;margin:0px;}

/* back to  top css */
.back-to-top{cursor:pointer;position:fixed;bottom:40px;right:20px;display:none;}
.back-to-top{width:44px;height:44px;background-color:#fff;border-radius:100%;text-align:center;}
.back-to-top .fa{color:#343434;font-size:30px;font-weight:300;position:relative;top:6px;left:-1px;transform:rotate(-90deg);}
.back-to-top:hover{background-color:#0E88CA;}
.back-to-top:hover .fa{color:#fff;}

/* Signup Page and Login Page */
.alert{text-align:center;margin-bottom:0px;}
.alert p{margin-bottom:0px;}
.shdow-box{-webkit-box-shadow:0px 2px 23px 4px rgba(0,0,0,0.05);-moz-box-shadow:0px 2px 23px 4px rgba(0,0,0,0.05);box-shadow:0px 2px 23px 4px rgba(0,0,0,0.05);background-color:#fff;}
.register-box-content{padding:2.3125rem 4.5625rem;}
.img-icon{margin-right:5px;}
.bdr-right{border-right:#CDCDCD 1px solid;}
.form-control{border-radius:100px;border:#D6D6D6 1px solid;padding:0.75rem 0.75rem;font-size:0.8125rem;color:#000;}
.product-subtotal{color:#000;}
.form-horizontal::-webkit-input-placeholder{ /* Chrome/Opera/Safari */
color:#999999;font-size:0.8125rem;font-family:'Poppins',sans-serif;}
textarea.form-control{border-radius: 0px;}
select.form-control{height:inherit!important;}
.form-horizontal::-moz-placeholder{ /* Firefox 19+ */
color:#999999!important;font-size:0.8125rem;font-family:'Poppins',sans-serif;}
.form-horizontal:-ms-input-placeholder{ /* IE 10+ */
color:#999999;font-size:0.8125rem;font-family:'Poppins',sans-serif;}
.form-horizontal:-moz-placeholder{ /* Firefox 18- */
color:#999999!important;font-size:0.8125rem;}
.form-horizontal:-moz-placeholder{ /* Firefox 18- */
color:#999999!important;font-size:0.8125rem;font-family:'Poppins',sans-serif;}
::-moz-placeholder{ /* Firefox 19+ */ color:#999999;font-family:'Poppins',sans-serif;}

/*.form-horizontal option:checked{color:#ff6600;font-size:0.8125rem;}*/
.register-box-content h2.block-title{margin-bottom:17px;}
.form-group{margin-bottom:9px;}
.btn{background-color:#0E88CA;color:#fff;text-transform: capitalize;padding:0.75rem 1.4375rem;border:#0E88CA 1px solid;font-family:'Hind',sans-serif;font-size:1rem;color:#fff;border-radius:150px;cursor:pointer;-webkit-box-shadow:0px 2px 36px 0.75rem rgba(210,88,161,0.07);-moz-box-shadow:0px 2px 36px 0.75rem rgba(210,88,161,0.07);box-shadow:0px 2px 36px 0.75rem rgba(210,88,161,0.07);min-width:150px;font-weight:500;}
.btn:hover,.btn:focus,.btn-primary:hover,.btn-primary:focus{background-color:#066ea7;border:#066ea7 1px solid;-webkit-box-shadow:0px 2px 36px 0.75rem rgba(210,88,161,0.07);-moz-box-shadow:0px 2px 36px 0.75rem rgba(210,88,161,0.07);box-shadow:0px 2px 36px 0.75rem rgba(210,88,161,0.07);}
.btn-success{background:#27ae60;border-color:#19974e;pointer-events:none;}
[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:none;}
.regis-caption p,.regis-caption a{font-size:0.6875rem;}
.regis-caption p{color:#666666}
.regis-caption{border-top:#D6D6D6 1px solid;padding-top:1rem;}
.regis-caption{margin-top:27px;}
.gray-bg{padding:20px 0 51px 0;background-color:#f8f8f8;}
.btn-outline{background-color:#fff;font-weight:600;border:#0e88ca 1px solid;color:#0E88CA;min-width:150px;box-shadow:none;}
.btn-outline:hover,.btn-outline:focus{box-shadow:none;border:#07689c 1px solid;color:#0E88CA;color:#066ea7;background-color:transparent;}
.register-box-content .left-pad-content{padding-left:3.125rem}
.register-box-content .left-pad-content p{font-size:0.8125rem;color:#666;margin-bottom:30px;}
.login-box-content .forgot,.login-box-content .checkbox{font-size:0.8125rem;color:#666666}
.login-box-content .forgot{position:relative;top:-1px;}
.login-box-content .forgot:hover{color: #0e88ca;}
.login-box-content .checkbox-rember{padding-top:10px;}
.login-box-content .checkbox label input[type ="checkbox"],.checkbox-sign-up  input[type ="checkbox"]{position:relative;top:3px;margin-right:7px;}
.login-caption{margin-top:17px;}
.login-box-content .img-icon{margin-right:12px;}
.checkbox-sign-up label{font-size:0.8125rem!important;color:#666;}
.form-control::-webkit-input-placeholder{ /* Chrome/Opera/Safari */
color:#9f9f9f;font-family:'Poppins',sans-serif;}
.form-control::-moz-placeholder{ /* Firefox 19+ */
color:#9f9f9f;font-family:'Poppins',sans-serif;}
.form-control:-ms-input-placeholder{ /* IE 10+ */
color:#9f9f9f;font-family:'Poppins',sans-serif;}
.form-control:-moz-placeholder{ /* Firefox 18- */
color:#9f9f9f;font-family:'Poppins',sans-serif;}
.form-control:focus{outline:none;box-shadow:none;}
.select-custom:focus{outline:none;box-shadow:none;}
.select-custom .form-control:focus{border-color:transparent;}
.select-custom{border-radius:100px;border:#D6D6D6 1px solid;font-size:0.8125rem;color:#999;overflow:hidden;height:43px;}
.select-custom .form-control{border-color:transparent;}
.label-text{display:inline-block;width:50%;text-align:right;}
.label-quantity{display:inline-block;}
.bdr-none{border-bottom:none!important;}

/*Product Listing Page and Detail Css*/
.product-listing-content{padding:2.3125rem 2.0625rem;}
.product-listing-content h2,.product-listing-content h3{margin:0;padding:0;font-size:1.125rem;font-weight:normal;}
.product-listing-content h2{margin-bottom:0.6875rem;font-weight:500;}
.product-listing-content h3{font-size:0.8125rem;color:#000;margin-bottom:0.8125rem;}
.product-listing-content .discription{margin-bottom:0.375rem;}
.product-listing-content .price{margin-bottom:0;}
.product-listing-content .img-icon{margin-right:5px;}
.product-listing-content .btn{margin-top:9px;}
.product-listing-btm-space{margin-bottom:1.25rem;}
.custon-sep{border:#f3f1f1 1px solid;margin-top:1.25rem!important;}
.pagination-list{margin-top:2.8125rem;font-family:'Hind',sans-serif;}
.pagination-list .page-link{border:1px solid #fff;width:40px;height:40px;border-radius:100px;-webkit-box-shadow:0px 0px 10px 0px rgba(50,50,50,0.06);-moz-box-shadow:0px 0px 10px 0px rgba(50,50,50,0.06);box-shadow:0px 0px 10px 0px rgba(50,50,50,0.06);font-size:1rem;color:#666666;margin-right:9px;text-align:center;line-height:1.55;}
.product-listing-content .price,.block-sub-title,.product-detail .sold,.product-detail .available-from{font-size:1.125rem;color:#000;}
.product-listing-content .discription,.product-detail .description{font-size:0.8125rem;color:#666666;}
.pagination-list .page-item.active .page-link{background-color:#0E88CA;border:none;}
.pagination-list .page-item:first-child .page-link{border-bottom-left-radius:100px;border-top-left-radius:100px;color:#0E88CA;}
.pagination-list .page-item:last-child .page-link{border-bottom-right-radius:100px;border-top-right-radius:100px;color:#0E88CA;}
.product-detail h2.block-title{margin-bottom:1rem;}
.product-detail .block-sub-title{margin-bottom:5px;}
.product-detail .sold,.product-detail .available-from{font-size:1rem;font-weight:500;}
.product-detail .sold span,.product-detail .available-from span,.view-specification{font-size:0.8125rem;color:#666;font-weight:normal;}
.product-detail .available-from{margin-top:0.8125rem;}
.product-detail .view-specification{margin-top:13px;}
.product-detail .view-specification a{text-decoration:underline;}
.product-detail .btn-dot,.net-terms-content .btn-dot{border-radius:5px;border:#0e88ca 1px dashed;max-width:190px;text-align:center;font-size:1rem;padding:0.5rem 2.125rem;font-family:'Hind',sans-serif;margin-top:1.375rem;}
.product-detail .btn-dot .img-icon,.net-terms-content .btn-dot .img-icon{margin-right:10px;}
.franchise-distributor-body{border-top:#e1e1e1 1px solid;border-bottom:#e1e1e1 1px solid;padding-top:20px;margin-top:11px;padding-bottom:19px;}
.franchise-distributor-body .btn{min-width:120px;}
.franchise-distributor-body .gray-btn{background-color:#D6D6D6;color:#666;border:#D6D6D6 1px solid;}
.price-content-box{padding:1.25rem}
.price-content-footer{padding-top:5px;}
.price-content-box{}
.price-title{font-size:1.125rem;}
.price-content-body{border-top:#e1e1e1 1px solid;font-size:0.8125rem;padding-top:15px;}
.price-content-body .shipping{margin-top:0.4375rem;margin-bottom:0.8125rem}
.price-content-body .img-icon{margin-right:8px;}
.price-content-footer .img-icon{margin-right:4px;}
.quantity-box{border:#D6D6D6 1px solid;padding:0.625rem;height:39px;}
.quantity-box .qtyplus,.quantity-box .qtyminus{background-color:#EFEFEF;width:19px;height:19px;border-radius:100px;border:none;font-weight:300!important;color:#666;line-height:13px;float:right;text-align:center!important;}
.quantity-box .qtyminus{margin-right:3px;padding:2px 0px 5px;}
.quantity-box input{border:none;font-size:0.8125rem;color:#000;width:25%;}
.quantity-box{margin-bottom:1.125rem;width:100%;}
.franchise-distributor{margin-top:2.4375rem;}
.franchise-distributor-content{padding:1.25rem}
.franchise-distributor-content .sellers-id{font-size:1rem;color:#0E88CA}
.franchise-distributor-content .sellers-id span{color:#666;}
.product-price .font-w500{color:#000;}
.sellers-detail span.black{margin-right:30px;font-weight:500;}
.sellers-detail .price,.warranty-text,.estimated-text{margin-bottom:0.5625rem}
.sellers-detail .ratio span:first-child{margin-right:10px;}
.warranty-detail,.estimated-detail{margin-top:6px;}
.estimated-detail .img-icon{margin-right:7px;}
.franchise-distributor-footer{padding-top:17px;}
.franchise-distributor-footer .input-group{max-width:140px;width:auto;float:left;margin-right:10px;}
.franchise-distributor-footer .input-group-prepend{margin-right:-2px;}
.franchise-distributor-footer .input-group-text{cursor:pointer;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:.375rem 0.5rem;margin-bottom:0;font-size:0.75rem;font-weight:400;line-height:1.5;color:#666;text-align:center;white-space:nowrap;background-color:#fbfbfb;border:1px solid #CDCDCD;border-radius:.25rem;}
.franchise-distributor-footer .form-control{display:block;width:100%;padding:0.125rem .75rem;font-size:0.8125rem;line-height:1.9;color:#000;background-color:#fbfbfb;background-clip:padding-box;border:1px solid #CDCDCD;border-radius:.25rem;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
.specification ul li,.specification ul,.contact-us ul li,.contact-us ul,.terms-use-content ul,.terms-use-content ul li{margin:0;padding:0;list-style:none;}
.specification ul li{margin-bottom:17px;}
.specification{margin-top:1.6875rem;}
.error-img{position:relative;top:15px;}

/* custom radio buttons */
.radio-container{display:inline;position:relative;padding-left:35px;margin-bottom:12px;cursor:pointer;font-size:22px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;margin-right:10px;}

/* Hide the browser's default radio button */
.radio-container input{position:absolute;opacity:0;cursor:pointer;}

/* Create a custom radio button */
.checkmark{position:absolute;top:0;left:0;height:25px;width:25px;background-color:#eee;border-radius:50%;}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark{background-color:#ccc;}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .checkmark{background-color:#0E88CA;}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after{content:"";position:absolute;display:none;}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmark:after{display:block;}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after{top:9px;left:9px;width:8px;height:8px;border-radius:50%;background:white;}
.checkmark.disabled{background:#ccc;}
a[aria-expanded="true"] .dropdown-menu{pointer-events:none!important;}

/*Shpping Cart Page*/
.shipping-cart,.top-pad-with-bradcrumb{padding-top:0.75rem;}
.d-inline-block .img-icon{margin-right:4px;position:relative;top:-1px;}
.d-inline-block:first-child{margin-right:15px;}
hr{margin-top:0rem;margin-bottom:1.25rem;border:0;border-top:1px solid rgba(0,0,0,.1);}
.shipping-cart h2.block-title{margin-bottom:16px;}
.shipping-cart h2.left-block-title{margin-bottom:28px;}
.cart-heading{padding:1.6875rem 1.6875rem 1.3125rem 1.6875rem;}
.cart-heading span{color:#000;}
.shipping-listing-content{padding:.75rem;}
.shipping-address-content-second{padding:1.6875rem}
.shipping-cart .product-detail-content h3{margin-bottom:0.375rem}
.shipping-cart .product-price .f-s18{margin-bottom:0.5rem}
.shipping-cart .product-quantity .quantity-box input.qty{width:40%;}
.error-icon{width:20%;float:left;padding:7px 0px;}
.shipping-cart .product-quantity .quantity-box{border-radius:3px;max-width:80%;padding:0.4375rem 0.625rem;float:left;}
.shipping-cart .shipping-footer{border-top:#e1e1e1 1px solid;padding-top:0.9375rem;margin-top:0.625rem}
.shipping-cart .shipping-footer .d-inline-block{margin-right:15px;}
.shipping-cart .shipping-footer .d-inline-block:last-child{margin-right:0;}
.shipping-cart .shdow-box{margin-bottom:1.25rem;}
.shipping-cart .shipping-right-content{margin-top:74px;}
.shipping-cart .shipping-right-content ul,.shipping-cart .shipping-right-content ul li,.wizard-step ul,.wizard-step ul li{margin:0;padding:0;list-style:none;}
.shipping-cart .shipping-right-content ul li{padding-top:0.8125rem;padding-bottom:0.8125rem;border-bottom:#e1e1e1 1px solid}
.shipping-cart .shipping-right-content ul li:last-child{border-bottom:none;}
.shipping-cart .shipping-right-content .price-content-body{padding-top:0;}
.shipping-cart .shipping-right-content .btn{min-width:100%;margin-top:1.3125rem}
.shipping-cart .quantity-box .qtyplus,.shipping-cart .quantity-box .qtyminus{position:relative;top:3px;}
.ship-add-div{padding-left:20px;}

/*.modal-open .modal-backdrop{-webkit-filter: blur(3px);filter: blur(3px);
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
    filter: url("https://gist.githubusercontent.com/amitabhaghosh197/b7865b409e835b5a43b5/raw/1a255b551091924971e7dee8935fd38a7fdf7311/blur".svg#blur);
filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');

}*/
.modal-content{border-radius:0;padding:0 19px}
.modal-footer,.modal-body,.modal-header{padding:19px 0;}
.modal-header{padding:14px 0px;}
.modal-title{font-size:1.375rem;color:#333;}
.modal-footer{border-top:none;align-self:center;}
.modal-body .price-content-box{padding:0}
.modal-body{padding-top:5px;padding-bottom:5px;}
.modal-body  .price-content-body{border-top:none;font-size:0.8125rem;padding-top:0;}
.modal-body .quantity-box{margin-bottom:0.625rem;}
.modal-body  .price-content-body h4{margin-bottom:0.3125rem}
#edititem .modal-dialog{max-width:375px;}
#edititem .img-icon{margin-right:8px;}
.modal-body  .parsley-errors-list li{margin-top:-0.625rem;padding-left:0;}
.error-img{position:relative;top}
.requested-delivery-date{background:url(../images/date-icon.png) no-repeat 11px 6px;padding-left:45px;}
#edititem .viewtiers{margin-left:8px;margin-top:3px;}

/*Search History Pop up*/
#search-history .modal-content{background-color:#f8f8f8}
@media (min-width:576px){
  #search-history .modal-dialog{max-width:1170px;margin:0px auto;}
}
#search-history .modal-body ul,#search-history .modal-body ul li{margin:0;padding:0;list-style:none;}
#search-history .modal-body ul li{border-bottom:#CDCDCD 1px solid;display:inline-block;width:32%;margin-right:1%;}
#search-history .modal-dialog{top:157px;}
#search-history .modal-footer{width:100%}
#search-history .modal-body ul li a{display:block;padding:0.75rem 0;overflow:hidden;}

/*Bradecrumb Css*/
.breadcrumb{background-color:transparent;padding:0;margin-bottom:1.875rem;}
.breadcrumb-item+.breadcrumb-item::before{content:"\f105";font-family:'FontAwesome';padding-left:0.6875rem;padding-right:0.6875rem}
.breadcrumb a,.breadcrumb span{text-decoration:underline;}
.breadcrumb span{color:#666;}

/*Shpping Addres Page*/
.wizard-step{margin-top:0.625rem;}
.wizard-step ul li{display:inline-block;vertical-align:middle;padding-left:6.1875rem;padding-right:6.1875rem;position:relative;}
.wizard-step ul li a,.wizard-step ul li a span,.list-check-active a span.circle{display:block;text-align:center;}
.wizard-step ul li a span.circle,.list-check-active a span.circle{color:#333;width:30px;height:30px;border-radius:100px;text-align:center;line-height:28px;background-color:#E4E4E4;font-size:22px;margin:0 auto 9px;position:relative;z-index:1}
.wizard-step ul li a{font-size:1.125rem;color:#868686;position:relative;}
.wizard-step ul li.active a{color:#0e88ca;}
.wizard-step ul li:before,.wizard-step ul li:after{content:"";position:absolute;height:3px;background-color:#E4E4E4;width:140px;z-index:0}
.wizard-step ul li.active a span.circle,.list-check-active a span.circle{background-color:#0e88ca;line-height:28px;}
.wizard-step ul li:before{left:0;width:50%;top:23%;}
.wizard-step ul li:after{right:0;width:50%;top:23%;}
.wizard-step ul li.active:before,.wizard-step ul li.active:after{background-color:#0E88CA;}
.shipping-addres hr{margin-top:2rem;margin-bottom:1.875rem;}
.shipping-address-content{padding:1.875rem;}
.shipping-address-content hr{margin-top:1.75rem;margin-bottom:1.5625rem;}
.form-check-input{margin-left:0}
.shipping-address-content h2.block-title{margin-bottom:11px;}
.wizard-step ul li.active a span.circle .fa,.list-check-active a span.circle .fa{color:#fff;font-weight:normal;font-size:15px;}
.wizard-step ul li a span.circle .fa{font-size:15px;}
.shipping-address-right-summary{padding:0.125rem 0.1875rem 0}
.shipping-address-right-summary .quantity{margin-top:0.1875rem}
.shipping-address-right-summary .black{padding-right:10px}
.shipping-right-content .price-content-body .scroll{max-height:350px;overflow-y:scroll;overflow-x:hidden;}
.shipping-right-content .item-cart-count{padding:0.625rem 0;border-bottom:#e1e1e1 1px solid;color:#000;}
.payment-right-content .item-cart-count{padding:0;border:none;}
.shipping-method .form-check{margin-bottom:0.6875rem;margin-right:15px;}
.shipping-address-right-summary .f-s12{color:#000;}
.shipping-method .form-check-inline+.form-check-inline{margin-left:0;}
.shipping-address-content-second .address-detail-list p,.payment-right-content .address-detail-list p{margin-bottom:0.25rem}
.right-block-link .img-icon,.add-new-address .img-icon{margin-right:7px;}
.add-new-address{margin:2.625rem  0;}
.list-check-active{border:#0e88ca 1px solid;position:relative;background-color:rgba(14, 136, 202, 0.02);}
.list-check-active a span.circle{right:-13px;top:-13px;position:absolute;}
.payment-right-content .shipping-address-right-summary .black{padding-right:0;border:none;}
.payment-right-content .img-icon{margin-right:4px;}
.payment-right-content .address-detail-list{margin-top:1.0625rem;}
.payment-left-content-block .address-detail-list{padding-left:18px;}
.payment-left-content-block .apply-discount{margin-top:1.75rem;}
.complete-order .complete-big-icon{padding:2.3125rem 0 1.625rem 0;}
.complete-order h2.left-block-title{margin-bottom:1rem;}
.complete-order p{margin-bottom:0.3125rem;}

/* Text color  */
.already-added{color:#63BA25;}
.waiting{color:#E67E22;}
.success{color:#109419;}
.cancelled{color:#D80027;}
.textprimary{color:#0275d8;}
.success,.cancelled,.waiting,.textprimary{font-size:11px;}
.expiry{color:#7f8c8d;}
.approved,.rejected,.success,.cancelled,.waiting{margin-left:3px;}
.approved img,.rejected img,.waiting-icon img{width:13px;height:13px;}
.datepicker

/*Request Quote*/
.request-quote .block-title img{height:26px;}
#office_location_map{width:100%;height:400px;background-color:grey;}

/*Edit Account Setting*/
.edit-account-setting h3,.contact-us h3{font-size:18px;color:#000;margin-bottom:1.4375rem;border-bottom:#e1e1e1 1px solid;padding-bottom:19px;font-family:'Hind',sans-serif;}
.edit-account-setting-content{padding:1.4375rem 0.75rem;}
.edit-account-setting-content .change-email-password{padding:0.9375rem 0 0.8125rem 0;}
#tab2 h2.block-title,#tab4 h2.block-title,#tab6 h2.block-title{margin-bottom:17px;}
.order-history h2.block-title{margin-bottom:17px;}
.order-history .table-responsive{display:table;}
.order-history .table th{border-top:none;font-weight:500!important;padding:1.125rem 0.75rem}
.order-history .table tr td{font-size:0.8125rem;color:#666666;padding:1.375rem .75rem}
.order-history .table tr td.action .img-icon{margin-right:3px;}
.order-history .table tr td.action{text-align:right!important;}
.order-history .table tr td.action .list-inline{margin-bottom:0}
.my-quote-detail{padding:1.25rem 1.25rem 0.9375rem;margin-bottom:20px;}
.my-quote-detail h3{margin-bottom:0.75rem}
.my-quote-detail .btm-space{margin-bottom:0.25rem;}
.my-quote-detail h3 a{text-decoration:underline;}
.my-quote-detail .top-space{margin-top:0.6875rem;}
.my-quote-detail-footer .img-icon,.quote-detail-right-icon .img-icon{margin-right:3px;vertical-align:middle;display:inline-block;position:relative;top:-1px;}
.my-quote-detail-footer{border-top:#e1e1e1 1px solid;padding-top:0.5625rem;margin-top:1rem}
.my-quote-detail-footer ul li.list-inline-item:not(:last-child){margin-right:16px;}
.quote-detail-right-icon ul li.list-inline-item:not(:last-child){margin-right:12px;}
.net-file-upload{border-top:#e1e1e1 1px solid;border-bottom:#e1e1e1 1px solid;padding:1.4375rem 0;margin-top:1.625rem;margin-bottom:0.625rem}
.net-terms-content .btn-dot{display:inline-block;background-color:#F8F8F8;margin-right:18px;text-align:left;min-width:228px;font-size:13px;}
.net-terms-content .btn-dot{padding-left:13px!important;margin-top:0;}
.list-inline-item:last-child{font-weight:600;}
.list-inline-item:not(:last-child){margin-right:5px;font-weight:600;}
.table-striped tbody tr:nth-of-type(even){background-color:rgba(255,255,255,.05);}
.table-striped tbody tr:nth-of-type(odd){background-color:rgba(0,0,0,.05);}
.table-bom-product .list-inline{margin-bottom:0px;}
.table-bom-product tr th{vertical-align:middle;border-top:none}
.table-bom-product tr td [type=checkbox]{position:relative;top:3px;}
.table-bom-product form{margin-bottom:0;}
.table-bom-product tr td,.table-bom-product tr th{border:#dcdcdc 1px solid;}
.table-bom-product tr td textarea.form-control.form-control{text-align:left!important;}
.table-bom-product tr td .quantity-box{margin-bottom:10px;}
.table-bom-product tr td:last-child{border:#dcdcdc 1px solid;}
.table-bom-product{display:inline-table;}
.table-bom-product .addnote{}
.table-bom-product .text-area{display:none;}
.table-bom-product .action{text-align:right;}
.table-w100{width:100%;display:inline-table;}
.modal-custom .num-avability p{font-size:12px;margin-bottom:4px;}
.modal-custom .num-avability p:first-child{font-weight:600;}
.modal-custom label{font-size:14px!important;font-weight:600;}
.show-data{padding:20px 0px;border-bottom:1px solid #eceeef;}
.show-data:last-child{border-bottom:none;}

/*Vertical Tab Css Start*/
.tabs_wrapper{width:100%;text-align:left;margin:0 auto;background:transparent;}
ul.tabs{display:inline-block;vertical-align:top;position:relative;z-index:10;margin:0;padding:0;width:100%;max-width:275px;list-style:none;-ms-transition:all .3s ease;-webkit-transition:all .3s ease;transition:all .3s ease;}
ul.tabs li{margin:0;cursor:pointer;padding:0.8125rem 1.25rem;color:#333;font-size:13px;border-left:transparent;1px solid;text-align:left;font-weight:500;-ms-transition:all .3s ease;-webkit-transition:all .3s ease;transition:all .3s ease;}
ul.tabs li:hover{color:#0E88CA;-ms-transition:all .3s ease;-webkit-transition:all .3s ease;transition:all .3s ease;}
ul.tabs li.active{background:#fff;border-left:#0E88CA 1px solid;color:#333333;-ms-transition:all .3s ease;-webkit-transition:all .3s ease;transition:all .3s ease;}
.tabs li a{color:#000;display:block}
.tabs li:hover a{color:#0E88CA;}
.tab_container{display:inline-block;vertical-align:top;position:relative;z-index:20;left:25px;width:74.5%;min-width:10px;text-align:left;background:transparent;border-radius:0px;}
.tab_content{padding:0px;height:100%;display:none;}
.tab_drawer_heading{display:none;}
.pending,.delivered,.failed{display:inline-block;vertical-align:middle;margin-right:12px;width:8px;height:8px;background-color:#F6A623;border-radius:100%;}
.failed{background-color:#FF0000}
.delivered{background-color:#7ED321}
.order-history  hr{margin-bottom:0rem}
.total-parts{padding:0.9375rem 0}
@media screen and (max-width:781px){
  ul.tabs{display:none;}
  .tab_container{display:block;margin:0 auto;width:95%;border-top:none;border-radius:0;box-shadow:0px 0px 10px black;}
 /*  .tab_drawer_heading{background-color:#ccc;background:#600026;    IE6-9color:#fff;margin:0;padding:5px 20px;display:block;cursor:pointer;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;text-align:center;}
 .tab_drawer_heading:hover{background:#ccc;background:#ae0046;color:white;} */
 .faq-block .tab_container{box-shadow:none;left:0; width: 100% !important;}
  .d_active{background:#fff;background:#4c001e;color:#dddddd;}
}

/*News and Updates Page Css*/
.news-update-content h4{font-size:1.125rem;color:#0E88CA;font-weight:500;line-height:28px;margin-bottom:0.5625rem;}
.card-text,.card-blockquote{font-size:0.8125rem;color:#666666;line-height:25px;}
.card{border-radius:0;border:none;}
.card-block{-webkit-box-shadow:0px 2px 15px 2px rgba(0,0,0,0.01);-moz-box-shadow:0px 2px 15px 2px rgba(0,0,0,0.01);box-shadow:0px 2px 15px 2px rgba(0,0,0,0.01);padding:1.125rem 1.75rem;}
@media (min-width:576px){
}
.card-columns .card{margin-bottom:1.9375rem;}

/*Faq and Conatc Page Css*/
.accordion .card-header:after{font-family:'FontAwesome';content:"\f068";float:right;}
.accordion .card-header.collapsed:after{    /* symbol for "collapsed" panels */
content:"\f067";}
.accordion .card{background-color:transparent;}
.accordion .shdow-box{margin-bottom:1.375rem}
.accordion .card-header{border-bottom:none;padding:0.9375rem 1.25rem}
.accordion .card-header .card-title{font-size:1.0625rem;color:#000;font-weight:500;}
.accordion .card-header:after{color:#666;font-weight:300;}
.accordion .card-header{background-color:#fff;cursor:pointer;}
.accordion .card-body{padding:1.875rem 1.25rem 0.8125rem;-webkit-box-shadow:inset 0px 7px 5px 0px rgba(250,250,250,1);-moz-box-shadow:inset 0px 7px 5px 0px rgba(250,250,250,1);box-shadow:inset 0px 7px 5px 0px rgba(250,250,250,1);}
.accordion .card-body span.answer{position:absolute;top:-2px;left:0;}
.accordion .card-body div.detail{position:relative;padding-left:20px;}
.faq-block h2.block-title{margin-bottom:16px;}
.contact-us ul li{margin-bottom:1rem}
.faq-block h2.block-title{margin-bottom:16px;}
.contact-us .email-phone{margin-top:2.25rem;}

/*Terms of and Conatc Page Css*/
.terms-use-heading{padding-top:1.1875rem;padding-bottom:0.625rem;}
.terms-use-content{}
.terms-use-content ul li{list-style:inside;list-style-position:inside;padding-left:10px;}
.sitemap-content ul li,.sitemap-content ul{margin:0;padding:0;list-style:none;padding-left:8px;}
.sitemap-content ul li a{color:#636060;font-size:13px;}
.sitemap-content ul li a:hover{color:#0e88ca;}
.sitemap-content ul li ul li{padding-left:10px;position:relative;}
.sitemap-content ul li ul li:before{position:absolute;content:"\f111";font:normal normal normal 5px/1 FontAwesome;color:#0E88CA;left:-4px;top:7px;}
.sitemap-content ul li ul li a,.sitemap-content ul li a{margin-bottom:8px;display:block;}
.sitemap h2.block-title{margin-bottom:12px;}
.sitemap-content h4{padding-bottom:12px;}
.sitemap-content .categories-left{min-width:400px;}
.sitemap-content h6{font-size:14px;color:#686868;line-height:20px;position:relative;}
.sitemap-content h6:hover{color:#0e88ca;}
.sitemap-content h6:before{position:absolute;content:"\f0da";font:normal normal normal 16px/1 FontAwesome;color:#0E88CA;left:-13px;top:1px;}

/* About Us */
.aboutus .who-we-are{display:flex;flex-wrap:wrap;}
.aboutus .who-we-are .col-md-6{display:flex;flex-direction:column;}
.aboutus .shdow-box{padding:1.875rem;margin-bottom:0;height:100%}
.aboutus .who-we-are h2.block-title{margin-bottom:10px;}
.aboutus .sub-title{color:#0E88CA;font-size:1.0625rem;margin-bottom:1.125rem}
.aboutus .our-business{margin-top:2.1875rem;}
.trust-block-content{padding:2.4375rem}
.why-trust .title{margin-bottom:0.8125rem}
.why-trust .col-md-6{margin-bottom:1.875rem;}
.our-business h2.block-title{margin-bottom:13px;}
.why-trust h2.block-title{margin-bottom:24px;}
#afs-accordion{width:100%;position:relative;}
#afs-accordion .test{position:absolute;right:20px;top:31px;}
#afs-accordion .content{padding:0px;}
#afs-accordion h2.active{background-color:#4BB347;}

/* Footer */
.page-footer{padding:0!important;}
#footer{background:#000;color:#FFF;overflow:hidden;}
.footer h4{font-size:1.125rem;margin-bottom:37px;font-weight:normal;position:relative;}
.footer h4:before{content:'';background:#FFF;width:30px;height:2px;position:absolute;left:0;bottom:-6px;}
.footer .blank-title h4:before{display:none;}
.footer .list{padding:0px;font-size:0.8125rem;}
.footer .list .list-item{list-style:none;line-height:1.375rem;padding-bottom:0.75rem;margin:0;}
.footer .list .list-item a{color:#cecdcd;font-weight:lighter;}
.footer .list .list-item a:hover{color:#0E88CA;text-decoration:none;}
.footer .address-list{padding:0px;font-size:0.8125rem;}
.footer .address-list .address-list-item{list-style:none;line-height:1.375rem;position:relative;color:#cecdcd;padding:0 0 10px 30px;}
.footer .address-list .address-list-item i.fa{position:absolute;top:4px;left:0;}
.footer .address-list .address-list-item i.fa.fa-home{font-size:1.125rem;}
.footer .address-list .address-list-item i.fa.fa-envelope{font-size:15px;}
.footer .address-list .address-list-item i.fa.fa-phone,.footer .address-list .address-list-item i.fa.fa-twitter{font-size:1.125rem;}
.footer .address-list .address-list-item a{color:#cecdcd;font-weight:lighter;}
.footer .address-list .address-list-item a:hover{color:#0E88CA;text-decoration:none;}
.footer .payment-card{padding-top:0px;}

/*Newsletter Form*/
.footer .newsletter-form{}
.footer .newsletter-form p{font-size:0.8125rem;color:#cecdcd;margin-bottom:20px;}
.footer .newsletter-form .newsletter-form-item{position:relative;background:#1A1A1A;border-radius:100px;min-height:46px;}
.footer .newsletter-form .newsletter-form-item input[type="text"],.footer .newsletter-form .newsletter-form-item input[type="email"]{color:#fff;font-size:0.6875rem;background:none;border:none;width:calc(100% - 37px);padding:0.8125rem;min-height:44px;}
.footer .newsletter-form .newsletter-form-item .newsletter-btn{background:#0E88CA url(../images/icon-newsletter.png) no-repeat center center;border:none;width:37px;height:37px;line-height:37px;text-align:center;text-indent:-999px;border-radius:100px;position:absolute;right:5px;top:4px;box-shadow:2px 2px 1.375rem 4px rgba(210,88,161,0.18);}
.footer .newsletter-form .newsletter-form-item .newsletter-btn:hover{background-color:#066ea7;}
.footer .social-list{margin:0;padding:40px 0 0 0;}
.footer .social-list .social-list-item{list-style:none;margin:0;padding:0 10px 0 0;display:inline-block;}
.footer .social-list .social-list-item a{font-size:1.125rem;color:#cecdcd;}
.footer .social-list .social-list-item a:hover{color:#0E88CA;}
.footer{padding:45px 0 0 0;}
.footer a img{margin-bottom:30px;}
.copyright{text-align:center;padding:20px 0 20px 0;font-size:0.8125rem;color:#cecdcd;margin:0;background-color:transparent;}
.copyright span{color:#FFF;}

/* General */
.w-full{width:100%;}
.checked{color:#f2c81d;font-size:0.8125rem;}
.unchecked{color:#e5e5e5;font-size:0.8125rem;}
.bdr-bottom{border-bottom:1px solid #3C3C3C;}
.bdr-dashed{border-bottom:1px dashed #333;}
.bdr-dashed-top{border-top:1px dashed #333;}
.shop-online{padding:15px 20px;font-size:1.125rem;margin:20px 0px;font-weight:600;}
.contact-us{text-align:center;}
.contact-us .btn-blue{margin:20px 0px 30px;padding:10px 15px;}

/*24-04-2018*/
.shipping-address-right-summary .hind-font,.product-detail-content .hind-font{cursor:inherit;}
.shipping-heading{font-size:18px;font-weight:400;color:#0E88CA;padding-left:1.25rem;}
.shipping-costs .form-check{margin-right:5px;}
.form-check-label.check-label{padding-left:0;margin-top:-5px;}
.shdow-box label{font-size:1rem;}
.card-payment  .form-control{border-radius:50px;}
.card-payment input.form-control:focus{outline:none;}
.keep-inside-clicks-open .dropdown-item.active,.keep-inside-clicks-open .dropdown-item:active{color:#000;background:transparent;}
.heading{border-top:none;font-weight:500!important;padding:1.125rem 0.75rem;color:#000000;}

/* Footer */

/* Datepicker */
.datepicker{background:#f3eff1;}
.datepicker td,.datepicker th{font-size:12px!important;}
.datepicker table tr td.active,.datepicker table tr td.active:hover,.datepicker table tr td.active.disabled,.datepicker table tr td.active.disabled:hover{background-color:#0E88CA;background-image:-moz-linear-gradient(to bottom,#08c,#0044cc);background-image:-ms-linear-gradient(to bottom,#08c,#0044cc);background-image:-webkit-gradient(linear,0 0,0 100%,from(#08c),to(#0044cc));background-image:-webkit-linear-gradient(to bottom,#08c,#0044cc);background-image:-o-linear-gradient(to bottom,#08c,#0044cc);background-image:linear-gradient(to bottom,#0E88CA,#8e346a);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#08c',endColorstr='#0044cc',GradientType=0);border-color:#0044cc #0044cc #002a80;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);}

/* Added for BOM pages */
.bom-page .shdow-box{padding:1.875rem;}
.bom-page .who-we-are h2.block-title{margin-bottom:10px;}
.bom-page .bom-small-box{max-width:270px;margin:0 auto;font-family:'Poppins',sans-serif;}
.bom-page .bom-small-box h3{font-family:'Hind',sans-serif;background:#d6d6d6;color:#706e6e;text-align:center;font-size:1.375rem;margin:0;padding:10px 20px;position:relative;z-index:2}
.bom-page .bom-small-box .bom-small-box-inner{margin-bottom:20px}
.bom-page .bom-small-box .bom-small-box-inner .btn-upload{min-height:180px;background:#0E88CA;border-radius:0;border:none;width:100%;color:#fff;font-size:15px;text-align:center;font-family:'Poppins',sans-serif}
.bom-page .bom-small-box .bom-small-box-inner .btn-upload i{display:block;font-size:35px;}
.bom-page .bom-small-box .bom-small-box-inner .form-group{margin-bottom:0}
.bom-page .bom-small-box .bom-small-box-inner .upload-btn-wrapper{overflow:visible;width:100%;}
.bom-page .bom-small-box .bom-small-box-footer{background:#0E88CA;padding:5px;}
.bom-page .bom-small-box .bom-small-box-footer:hover{background:#066ea7}
.bom-page .bom-small-box .bom-small-box-footer a{background:#fff;margin:0 auto;max-width:200px;display:block;padding:6px 5px;text-align:center;}
.bom-page .bom-small-box .bom-small-box-inner textarea.form-control{border-radius:0;resize:none;min-height:180px;}
.bom-page .bom-small-box .bom-small-box-footer .btn-primary{text-align:center;padding:6px 5px 4px;width:100%;background:none;border:none;}
.bom-page .bom-small-box.small-box-left:after,.bom-page .bom-small-box.small-box-right:before{content:'';position:absolute;top:21px;border-bottom:1px solid #333;width:50%;z-index:1;}
.bom-page .bom-small-box.small-box-left:after{right:0;}
.bom-page .bom-small-box.small-box-left .or-text{font-family:'Hind',sans-serif;background:#fff;color:#706e6e;text-align:center;font-size:1.375rem;margin:0;padding:10px 20px;position:absolute;right:-30px;top:-3px;z-index:2;}
.bom-page .bom-small-box.small-box-right:before{left:0;}
#bom_form .modal-header h4{font-size:14px!important;color:#0E88CA;}
#bom_form .modal-header{border-bottom:1px solid #7e7e7e}
#bom_form .register-box-content{padding-top:20px;padding-bottom:0px;}
.my-bom{margin-top:30px;}
.my-bom .block-title{margin-bottom:10px;}
.Upload-instant-quotes{position:relative;top:5px;}
#bom_form .parsley-errors-list{margin:15px 0 0 0;}
.green-color{color:#0fcc7e}
.red-color{color:#e84427}
.pinck-color{color:#0E88CA}
.buying-options-table .pop-quantity-input{max-width:80px;text-align:center;}
.buying-options-table{width:100%;}
.product-list-table .text-center .parsley-errors-list li{padding:0;text-align:left;}

/* Added on 27-06-2018 */
#myList-nav .ln-letters{display: table;width: 100%; margin:15px 0;}
#myList-nav .ln-letters a {border: none;border-right: none;display: table-cell;font-size: 0.9rem;padding: 6px 6px;text-decoration: none;text-align: center;font-weight: bold; float: none;}
#myList-nav .ln-letters a.ln-disabled{ color:#9d9d9d}
#myList-nav .ln-letters a.ln-disabled:hover{ background: transparent; pointer-events: none;}
#myList-nav .ln-letters a.ln-selected{background:#0E88CA; color:#fff;}
#myList-nav .ln-letters a.ln-last{border: none;}
.categories-page .categories-left li{ padding:0 0 5px 15px;position:relative;}
.categories-page .categories-left li.listNavHide{display:none;} 
.categories-page .categories-left li:after{content:'';width:5px;height:5px;background:#0E88CA;border-radius:100%; position:absolute;left:0;top:9px;}
.categories-page .categories-left li a{color:#333; font-size:0.9rem}
.categories-page .categories-left li a:hover{color:#0E88CA;}
#part_search_div{display: block;width: 100%;overflow: hidden;}
.search-filter-input{max-width:550px; }
.search-filter-input .search-filter-left{    position: relative;max-width: 80%;float: left;width: 100%;}
.search-filter-input button.btn{    float: right;max-width: 32%;margin: 0 !important;padding: 0.63rem 1rem;
min-width: 100px;}
.categories-page .categories-left{list-style:none;padding:0; margin:0}
.categories-details-page{}
.categories-details-page ul#part-container{list-style:none;margin:0;padding:0; float: none;}
.categories-details-page #part-container li{display:inline-block;margin:10px;max-width:347px;width:100%; text-align: left; vertical-align:top;font-size:0.9rem;}
.categories-details-page #part-container li a{}
.categories-details-page #part-container .data-sheet{ max-width: 122px; }
.categories-details-page .search-filter-input{ margin-bottom:15px; } 
.categories-details-page .search-filter-input .search-btn{background: #009966 url(../images/icon-search.png) no-repeat center center;width: 35px;height: 35px;border-radius: 100px;border: none;box-shadow: 2px 2px 1.375rem 4px rgba(0, 153, 102, 0.11);cursor: pointer;font-size: 1px;color: #0E88CA !important;text-align: center;position: absolute;top: 3px;right: 4px;}
.categories-details-page .search-filter-input .form-control{padding-right:40px;}
.no-product-found{color: #0E88CA;
    background: #0E88CA42;
    padding: 14px 20px;
    border-radius: 10px;margin-bottom:20px;}

.shdow-box {position: relative;}

#bottom-loader {
    border: 2px solid #0E88CA;
    border-radius: 50%;
    border-top: 2px solid #FFF;
    width: 60px;
    height: 60px;
    text-align: center;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    left: 50%;
    bottom:50px;
    position: absolute;
    transform: translate(-50%, 50%);
}




/*Side floating button */
#slider{width:405px;top:300px;position:absolute; z-index: 99;}
#header{    width: 155px;
    height: auto;
    position: absolute;
    right: 0;
    border: 1px dashed #d8d8d8;
    margin-left: 40px;
    padding: 15px 15px;
    border-radius: 3px;
    box-shadow: 0px 2px 2px #80808026;
    background-color: #ffffff;
        z-index: 99;
}
#header .dropdown-item:focus, #header .dropdown-item:hover{background: transparent; color: #0E88CA;}
#header h2{color: #0E88CA;
    font-size: 1.375rem !important;
    font-weight: 600;font-size:14px;}
#header .dropdown-item{padding: 3px 0px;font-size: 14px;}
#sidebar{position:absolute;top:42px;left:212px !important;box-shadow:0 0 8px gray}
#sidebar1{position:absolute;top:42px; left:212px !important;box-shadow:0 0 8px gray}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (min-width:1200px){
  .container{width:1200px;}
  .container.footer .row{width:1200px;margin:0 auto;}
  .categories-page .categories-left{list-style:none;
	-moz-column-count: 5;
    -moz-column-gap: 20px;
    -webkit-column-count: 5;
    -webkit-column-gap: 20px;
    column-count: 5;
    column-gap: 20px; padding:0; margin:0}
}

@media (min-width:768px) and (max-width:1200px){
  .navbar-right.checkout li{padding:0 0.8125rem 0 0.8125rem;}
  .carousel-control .carousel-control-prev-icon,.carousel-control .carousel-control-next-icon{font-size:1.375rem;line-height:34px;width:36px;height:36px;}
  .carousel-control .carousel-control-next-icon{padding-left:5px;}
  .carousel-caption h2{font-size:30px;margin:0 0 6px 0;}
  .carousel-caption p{font-size:15px;line-height:20px;margin:0 auto 0.75rem auto;}
  .carousel-caption .carousel-btn{min-width:138px;padding:8px 10px;font-size:15px;}
  .custom-nav .navbar-nav>li>a{color:#fff;padding:0.75rem 1.875rem!important;font-size:1rem;}
  .navbar-right.checkout li .icon img{height:18px}
  .navbar-right.checkout li .cart-count{position:absolute;top:-10px;right:-10px;background-color:#0E88CA;color:#FFF;font-size:0.625rem;min-width:21px;line-height:1rem;text-align:center;height:21px;font-style:normal;border-radius:100px;padding:2px;}
  .banner-caption{padding:20px;}
  .carousel-caption h2,.banner-caption h2{font-size:30px;}
  .news-updates-block,.suppliers-block{height:95%;}
  .suppliers-block ul li{padding:10px;}
  .suppliers-block ul li img{max-width:100%;}
  .faq-block ul.tabs{}
  .faq-block .tab_container{width:calc(100% - 44%);}
  /* added on 27-06-2018 */
  .categories-page .categories-left{list-style:none;
	-moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px; padding:0; margin:0}
}
@media (min-width:1024px) and (max-width:1199px){
	.categories-page .categories-left{list-style:none;
	-moz-column-count:3;
    -moz-column-gap:20px;
    -webkit-column-count:3;
    -webkit-column-gap:20px;
    column-count:3;
    column-gap:20px;padding:0;margin:0}
}
@media (max-width:991px){
  .section-special-fbox{padding-bottom:10px;}
  .special-fbox-media{padding-bottom:20px;}
  .custom-nav .navbar-nav>li>a{padding:0.75rem 8px;font-size:12px;}
  .carousel-caption h2{font-size:24px;margin:0 0 6px 0;}
  .carousel-caption p{font-size:12px;line-height:20px;margin:0 auto 0.75rem auto;}
  .carousel-caption .carousel-btn{min-width:138px;padding:8px 10px;font-size:15px;}
  .header-top .header-top-left li{padding: 0; }
  /* Added on 25-06-2018 */
  .navbar-toggler-right{display:block !important;border:1px solid #0E88CA;top:-10px;z-index:1;cursor:pointer;}
  .navbar-toggler-right span{margin:0;}
  .bom-page .bom-small-box.small-box-left .or-text{right:-15px;padding:10px 5px;}
  .modal-content .show-data{width:100%;overflow-x:auto;}
  .modal-content .show-data table{min-width:600px;}
  .data-sheet{padding:5px 7px;display:block;}
  .bom-page .shdow-box{padding:0.875rem;}
	.categories-details-page #part-container li{margin: 5px;max-width: 303px;}
}
@media (max-width:767px){

  /*Header Css*/
  .header-top .header-top-right{float:none;margin:0 auto;text-align:center;}
  .navbar-toggler{border-color:rgba(210,88,61,.8);}
  .navbar-inverse .navbar-toggler-icon{color:#ff0000;}
  .navbar-toggler-right{position:absolute;right:0;top:5px;}
  .custom-nav .navbar-nav>li>a{color:#fff;padding:0.75rem 0.125rem 0.75rem 0.125rem!important;font-size:1rem;}
  .navbar-toggler{padding:.25rem 0.5rem}
  .custom-nav .navbar-nav li a:hover,.custom-nav .navbar-nav li a:focus,.custom-nav .navbar-nav li a.active{background-color:transparent;color:#000;}
  .banner.custom-header{background:url(../images/banner.jpg) no-repeat center top;background-size:cover;}
  .news-update{margin-top:1.8125rem;}
  .banner-caption{position:relative;padding:0.9375rem}
  .banner-caption{max-width:inherit;width:inherit;top:inherit;left:inherit;transform:inherit;}
  .navbar-brand{margin-right:0;font-size:14px;}
  .news-updates-block{margin-bottom:30px;}
  .carousel-caption h2,.banner-caption h2{font-size:20px;}
  .custom-header .free-shipping.navbar-right{font-size:20px;padding:0px 0px;margin-top:-10px;}
  .custom-header{background-color:#f1f1f1;padding:10px 5px;}
  .navbar-toggle .icon-bar{background:#0e0e0e;width:30px;height:4px;}
  .header-top ul.header-top-left{display:none;}
  .custom-header .minisearch .field.search .action.search{height:1.5625rem;width:1.5625rem;background-size:13px;}
  .custom-header .minisearch .field.search .input-text{padding:3px 15px;}
  .custom-nav .all-product-menu{margin:0;}
  .custom-nav ul.nav.navbar-nav{margin:0;}
  .suppliers-block ul li{width:50%;padding:15px 0;}
  .carousel-control .carousel-control-prev-icon,.carousel-control .carousel-control-next-icon{font-size:1.375rem;line-height:29px;width:30px;height:30px;color:#000;background:rgba(0,0,0,0.2);}
  .carousel-control .carousel-control-prev-icon{left:5px;}
  .carousel-control .carousel-control-next-icon{padding-left:5px;right:5px;}
  .carousel-caption{position:static;top:0;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);color:#000;}
  .carousel-control.left{background-image:-webkit-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);background-image:-o-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);background-image:-webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0)),to(rgba(0,0,0,0)));background-image:linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000',endColorstr='#00000000',GradientType=0);background-repeat:repeat-x;}
  .carousel-control.right{background-image:-webkit-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);background-image:-o-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);background-image:-webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0)),to(rgba(0,0,0,0)));background-image:linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000',endColorstr='#00000000',GradientType=0);background-repeat:repeat-x;}
  .product{padding-top:15px;}
  .footer{padding:1.375rem 15px 0;}
  .footer h4{margin-bottom:20px;}
  .footer .payment-card{padding-top:7px;padding-bottom:30px;}
  .footer .list .list-item{padding-bottom:6px;}
  .copyright{padding:13px 0 13px 0;font-size:11px;}
  .footer .social-list{margin:0;padding:20px 0 0 0;}

  /* Added on 25-06-2018 */
  .navbar{ padding:0.5rem 0; }
  .navbar-right.checkout{float:none; text-align: center;}
  .custom-header .navbar-brand{ display: block; width: 100%; text-align: center; }
  .news-updates-block, .suppliers-block{ height: auto; }
  .hidden-sm{display:none;}
  .navbar-right.checkout li span{padding-top:1px;display:inline-block;}
  .navbar-right.checkout li .icon img{height:20px;}
  .navbar-right.checkout li .cart-count{top:-12px;right:-14px;}
  .navbar-brand{max-width:100px;margin:0 auto;}
  .navbar-right.checkout{ margin-top:10px !important;}
  .banner.custom-header img{display:none !important;}
  .card-columns .card a{display:block;max-width:200px;}
  .bom-page .bom-small-box.small-box-left:after, .bom-page .bom-small-box.small-box-right:before{display:none;}
  .bom-page .bom-small-box.small-box-left .or-text {right:50%;padding:10px 5px;top:inherit;bottom:0px;}
  .bom-page .bom-small-box.small-box-left{ margin-bottom:50px;}
  .register-box-content{padding:15px}
  .register-box-content .left-pad-content{padding-left:0;}
  .register-box-content .bdr-right{border-right:none; border-bottom:#CDCDCD 1px solid; padding-bottom:10px; margin-bottom:20px;}
  .table-dresponsive{width:100%; overflow-x: auto;}
  .table-dresponsive table{ min-width:767px;}
  .notifyjs-wrapper{width:100%; font-size:12px !important;}
  .wizard-step ul li{display:inline-block;vertical-align:middle;padding-left:0;padding-right:0;position:relative;min-width: 142px;}
  .wizard-step ul li a{font-size:0.89rem;}  
  .navbar-right.checkout{ float: none; }  
    #myList-nav .ln-letters{ display: block; }
    #myList-nav .ln-letters a{ display: inline-block; }
    .categories-details-page #part-container li{ max-width: 100%; margin:0 0 10px 0}
    .search-filter-input .search-filter-left{float:none;max-width:100%;margin-bottom:10px;}
    .search-filter-input button.btn{float:none;}

}
@media (max-width:480px){
  .custom-nav{z-index:1;}
  .brand-logo{height:65px;}
  .brand-logo li{padding:0px 5px;}
  .product h2{font-size:21px;}
  .newsletter .input-group{margin-top:20px;}
  .custom-nav .contact-no{text-align:center;}
  .news-updates-block ul li{padding:20px 10px 6px 10px;}
  .news-updates-block ul li .news-img{width:100%;}
  .news-updates-block ul li .news-content{width:100%;padding:10px 0 0 0;}  

  /* Added on 25-06-2018 */
  .search-history{display:table;width:100%; padding: 0;}
  .modal-content .modal-footer{display:block;}
  .modal-content .modal-footer button{display:block;width:100%;}
  .modal-content .modal-footer button:first-child{ margin-bottom:10px; }
  .shipping-cart .shipping-footer .d-inline-block{margin-right:8px;}
  #shipping_address_form .form-group{}
  #shipping_address_form .form-group .btn{line-height: 1;    min-width: 105px;}
  .shipping-address-content-second .right-block-link a{margin-right: 5px!important;font-size: 0.85rem !important;}
  .checkmark{height:15px;width:15px;}
  .radio-container .checkmark:after{top:4px;left:3px;}
  label.radio-container{font-size:0.8rem;padding-left: 18px;}
  .shipping-cart .shdow-box{font-size:0.8rem;}
 
}

/* Styles for selected buttons */
.selected-button{background-color:#D6D6D6!important;border:none!important;color:#6D6D6D!important;}
@media screen and (-ms-high-contrast:active),(-ms-high-contrast:none){
  .quantity-box .qtyplus,.quantity-box .qtyminus{text-indent:-3px;}
}
.loader{position:fixed;left:0px;top:0px;width:100%;height:100%;z-index:9999;background:url('../images/curved-bars.svg') 50% 50% no-repeat rgb(249,249,249);opacity:.8;}
.error-infor{text-align:center;padding:10px 0 10px 0;}
.error-infor h3{padding:10px 0;color:#f65654;}
.error-infor .fa{color:#f65654;font-size:50px;}
.error-infor p{font-size:18px;}
.success-infor h3,.success-infor .fa{color:#71c341;}
.registration_success_message{color:#0E88CA;font-weight:bold;margin-bottom:25px;}
.net-term-info{width:1px;}