/*Fonts Used
font-family: 'Poppins', sans-serif;
font-family: 'Hind', sans-serif;
*/
body {font-family: 'Poppins', sans-serif; color: #333; font-size:16px;}
.hind-font{font-family: 'Hind', sans-serif;}
h2, .special-fbox-media h4, .footer h4, .carousel-caption .carousel-btn, .product .product-details h3{font-family: 'Hind', sans-serif;}
a{color: #D258A1;outline: none;}
input[type="button"], input[type="submit"]{outline: none;}
input:focus{outline: none; box-shadow: 0 0 0 0 transparent !important;}
/* Alignment */
.m-t10{margin-top: 10px !important;}
.m-t5{margin-top:5px !important;}
.m-t0{margin-top:0px !important;}
.m-b0{margin-bottom:0px !important;}
.m-b10{margin-bottom: 10px !important;}
.m-b15{margin-bottom: 15px !important;}
.m-b5{margin-bottom:0.3125rem !important;}
.m-t40{margin-top:40px !important;}
.m-t15{margin-top: 15px !important;}
.m-t15{margin-top: 20px !important;}
.m-t25{margin-top: 25px !important;}
.m-l10{margin-left: 10px !important;}
.m-r10{margin-right: 10px !important;}
.p-t30{padding-top: 30px !important;}
.p-b20{padding-bottom: 20px !important;}
.p-b50{padding-bottom: 50px !important;}
.p-0{ padding-left:0rem !important; }
.p-l0{ padding-left:0rem !important; }
.p-r0{ padding-left:0rem !important; }
.m-b0{ margin-bottom: 0rem !important }
.f-s14{font-size: 0.875rem !important;}
.f-s13{font-size: 0.875rem !important;}
.f-s12{font-size:0.75rem !important;}
.f-s18{font-size:1.125rem !important;}
.f-s12{font-size: 0.75rem !important;}
.f-s16{font-size: 1rem !important;}
.black{ color: #000000 }
.red{color: #D258A1}
.font-w500{ font-weight: 500; }
.text-underline{ text-decoration: underline; }
.text-uper{ text-transform: uppercase; }
.text-blue { color:#0275d8!important;}
.text-gray { color: #666666}
.compare.wrapper{display: none !important;}
/* Text color */
.bg-yellow {background-color:#f2c81d;}
.bg-skyblue{background-color: #00adef !important;}
/* Text color */
.text-white{color: #fff;}
.text-right{ text-align: right !important; }
.text-center{ text-align:center; !important; }
/* Top Header and Navigation */
.logo{max-width: 100% !important; margin: 0 !important;}
.header-top{position: relative; padding: 13px 0;}
.header-top:after{content:''; background: #D6D6D6; width: 100%; max-width: 1170px; height: 1px; margin: 0 auto; position: absolute; left: 50%; bottom: 0; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%);}
.header-top ul{margin: 0; padding: 0; font-size: 0.75rem;}
.header-top ul li{margin: 0; padding: 0; list-style: none; display: inline-block; color: #333; font-size: 0.75rem;}
.header-top ul li a{color: #333; text-decoration: none; font-size: 0.75rem;}
.header-top ul li a:hover{color: #D258A1;}
.header-top .header-top-left i{color:#000; margin-right: 4px;}
.header-top .header-top-left i.fa-phone{font-size: 0.875rem; font-weight: bold; position: relative; top: 2px;}
.header-top .header-top-left li{padding-left: 30px;}
.header-top .header-top-left li:first-child{padding-left:0px;}
.header-top .header-top-right{float: right;}
.header-top .header-top-right .hello-user i{color:#000; margin-right: 4px;}
.header-top .header-top-right .hello-user{color: #AAA; position: relative; padding: 0 11px 0 0; margin-right: 6px;}
.header-top .header-top-right .hello-user:before{content:''; background-color: #AAA; width: 1px; height: 1.125rem; position: absolute; top: 0; right: 0;}
.custom-header{padding: 1rem 0;margin-bottom:0px !important;}
.nav-container{max-width: 1200px; margin: 0 auto;}
.custom-header .navbar-brand {padding:0; height: auto !important;}
.custom-header .free-shipping.navbar-right {font-size: 24px; font-weight: 500; padding: 15px 50px;}
.custom-header input.form-control{padding: 1.375rem 20px; border-radius: 0px 5px 5px 0px;} 
.custom-header .input-group-addon {padding: 0px 17px; background: #fff; border-radius: 5px 0px 0px 5px;}
.navbar-right.checkout{padding:0; display: block;}
.navbar-right.checkout li{padding: 0 0 0 24px; font-size: 0.875rem; color: #333; border: none; position: relative; display: inline-block;}
.navbar-right.checkout li:first-child{padding: 0;}
.navbar-right.checkout li a{font-size: 0.875rem; line-height: 19px; color: #333; border: none; padding: 0;}
.navbar-right.checkout li a:hover{background-color: transparent; color: #D258A1;}
.navbar-right.checkout li span{color: #AAA; font-size: 0.75rem;}
.navbar-right.checkout li .icon{float: left; margin-right: 0.75rem; margin-top: 1px; position: relative;}
.navbar-right.checkout li .cart-count{position: absolute; top: -4px; right: -6px; background-color: #D258A1; color: #FFF; font-size: 0.75rem; min-width: 21px; line-height: 1rem; text-align: center; height: 21px; font-style: normal; border-radius: 100px; padding: 2px;}
.custom-header form.navbar-form.navbar-right {padding: 0px 50px;}
.custom-header .minisearch{padding-top: 11px;}
.custom-header .minisearch .field.search{background-color: #FFF; border: 1px solid #D6D6D6; border-radius: 100px; padding: 5px;}
.custom-header .minisearch .field.search .input-text{background: none; border: none; font-size: 0.875rem; color: #999; width: calc(100% - 40px); padding: 7px 15px;}
.custom-header .minisearch .field.search .action.search{background:#D258A1 url(../images/icon-search.png) no-repeat center center; width: 35px; height: 35px; border-radius: 100px; border: none; float: right; box-shadow: 2px 2px 1.375rem 4px rgba(210,88,161,0.18); cursor: pointer;}
.custom-header .minisearch .field.search .action.search:hover{background-color: #B73182;}
.custom-header .minisearch .field.search .action.search span{display: none;}
.search-history{padding: 0 0 0 20px;}
.search-history a{font-size: 0.75rem; color: #878787; text-decoration: none;}
.search-history a i.fa{color: #adabab; font-size: 19px; position: relative; top:3px; margin-left: 3px;}
.search-history a:hover, .search-history a:hover i.fa{color: #D258A1;}
.navbar-inverse .navbar-nav .nav-link {
    color: rgba(255,255,255,1.0);
}
.custom-nav{background-color: #D258A1;padding: 0;}
.custom-nav .contact-no{font-size: 1.5625rem; color: #fff; margin-top: 7px;}
.custom-nav .navbar-nav>li>a{color: #fff; padding:0.75rem 3.75rem !important; font-size:1rem;}
.navbar-toggleable-md{ padding-top:0; padding-bottom: 0; }
/*.custom-nav .navbar-nav li:first-child a{ padding-left:0 !important; }*/
.custom-nav .navbar-nav li a:hover, .custom-nav .navbar-nav li a:focus, .custom-nav .navbar-nav li a.active{background-color:#B73182; color: #000;}
.custom-nav  .nav .open>a, .nav .open>a:focus, .nav .open>a:hover{background-color: transparent;;}
.custom-nav ul.nav.navbar-nav {margin-top: 0;}
.custom-nav ul.nav.navbar-nav li{margin-bottom: 0 !important;}
.custom-nav .all-product-menu{margin: 0 -15px;}
.custom-nav .all-product-menu .navbar-nav li .dropdown-toggle{border:none; border-radius:0; background: #B73182;}
.custom-nav .all-product-menu .navbar-nav li .dropdown-toggle:hover{background: #96276a;}

.custom-nav  .dropdown-menu {
    min-width: 13.375rem;
    padding:0;
    margin: .125rem 0 0;
    font-size:0.875rem;
    color: #000000;
    border-radius: 0;
}
.custom-nav  .dropdown-menu  .dropdown-item{ padding:10px 1.25rem}
.custom-nav  .dropdown-menu  .dropdown-item:hover{ background-color: #f5f5f5; }


.custom-nav .all-product-menu .navbar-nav{width: 100%;}
.custom-nav .all-product-menu .navbar-nav li{width: 100%; margin-bottom: 0 !important;}
.custom-nav .all-product-menu .navbar-nav li .caret{border-width: 5px; position: absolute; right: 17px; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);}
.custom-nav .all-product-menu .navbar-nav>li>.dropdown-menu{width: 100%; border-radius: 0;}
.banner{overflow: hidden;}
/* Button */
.btn-blue{background-color: #002A5C; color: #fff; font-weight: 500;     transition: all linear 300ms;}
.btn-blue:hover{color: #fff; background-color: #043b7c;}
.btn-green{background-color: #6fc100; color: #fff; text-decoration: none;}
.btn-green:hover{color: #fff;}

.page-main{max-width: 100% !important; padding: 0 !important;}
.page-main .column.main{padding-bottom: 0 !important;}
.cms-home .page-title-wrapper{display: none;}

/* Thumbnail section */
.white-bg{background-image: url(../images/thumbnail-bg.jpg); padding-bottom: 1.5625rem; width: 100%;  background-repeat: no-repeat; background-size: cover;}
.brand-logo {padding: 0; display: table; height: 150px; width: 100%; }
.brand-logo li {list-style: none; display: table-cell; vertical-align: middle; }
.custom-thumbnail{padding: 0px;    border-radius: 8px;}
a.custom-thumbnail.active, a.custom-thumbnail:focus, a.custom-thumbnail:hover {border-color: transparent; }
.custom-thumbnail img{border-radius: 8px 8px 0px 0px; width: 100%;}
.custom-thumbnail .thumb-text{background: #00ADEF; color: #fff; font-size: 0.875rem; padding: 10px 20px; border-radius: 0px 0px 8px 8px;} 
.custom-thumbnail .thumb-text .arrow{transform: rotate(90deg); float: right; font-size: 1.125rem;}

.carousel-control{opacity: 1; text-shadow: none;}
.carousel-control .carousel-control-prev-icon, .carousel-control .carousel-control-next-icon{position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); z-index: 5; display: inline-block; color: #FFF; font-size: 50px; background: rgba(238,238,238,0.2); width: 60px; height: 60px; text-align: center; text-shadow: none; border-radius: 100px; line-height: 55px;}
.carousel-control .carousel-control-prev-icon{padding-right: 2px; left: 52px;}
.carousel-control .carousel-control-next-icon{padding-left: 8px; right: 52px;}
.carousel-caption{bottom: auto; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); text-shadow: none; color: #FFF;}
.carousel-caption h2{font-size: 40px; font-weight: 400; margin: 0 0 0.75rem 0;}
.carousel-caption p{font-size: 1rem; line-height: 28px; max-width: 630px; margin:0 auto 1.5625rem auto;}
.carousel-caption .carousel-btn{background: #FFF; border-radius: 100px; color: #D258A1; font-size: 1rem; font-weight: 500; padding: 10px 0.75rem; text-shadow: none; min-width: 160px; display: inline-block; text-decoration: none;}
.carousel-caption .carousel-btn:hover{background: #D258A1; border-radius: 100px; color: #FFF;}


/* Product*/
.product {padding-top: 36px; padding-bottom: 37px; position: relative;}
.product .product-item{background: #FFF; box-shadow: 0 0px 24px 13px rgba(0,0,0,0.039); position: relative;}
.product h2{color: #000; font-size: 1.375rem; font-weight: 600; margin-bottom: 35px;}
.product a {font-size: 15px; text-decoration: underline; }
.product-img{text-align: center; padding: 29px 0 0 0; }
.product-img img {display: inline-block; }
.product .product-item .wishlist{position: absolute; top: 10px; right: 10px;}
.product .product-item .wishlist a{color:#CCCCCC; font-size: 20px;}
.product .product-item .wishlist a:hover, .product .product-item .wishlist a.active{color:#D258A1;}
.product .product-details{text-align: center; padding: 0 0 30px 0;}
.product .product-details h3 {font-size: 1rem; font-weight: 500; color: #D258A1; margin-bottom: 7px;}
.product .product-details h3 a{font-size: 1rem; font-weight: 500; color: #D258A1; text-decoration: none;}
.product .product-details h3:hover a{color: #23527c;}
.product .product-details p {font-size: 0.75rem; color: #666;}
.product .price {color: #333333; font-size: 1.125rem; font-weight: 600;} 
.product  a.btn.btn-green{    text-decoration: none; color: 0.75rem; font-size: 0.75rem; padding: 5px; text-transform: uppercase; 	float: right;}
.product .slide-controle{position: absolute; right: 0; top: 40px;}
.product .slide-controle .slide-next, .product .slide-controle .slide-prev{background: #FFF; box-shadow: 2px 3px 10px 6px rgba(0,0,0,0.05); width: 30px; height: 30px; text-align: center; border-radius: 100px; line-height: 30px; cursor: pointer; color: #464C5D;}
.product .slide-controle .slide-next:hover, .product .slide-controle .slide-prev:hover{color: #FFF; background: #464C5D;}
.product .slide-controle .slide-next{position: absolute; top: 0; right: 0;}
.product .slide-controle .slide-prev{position: absolute; top: 0; right: 40px;}


h2.block-title{color: #000; font-size: 1.375rem; font-weight: 600; margin-bottom: 32px;}
.view-all{font-size: 0.875rem; font-weight: normal; float: right; background: url(../images/arrow-right.png) no-repeat right -1px; display: inline-block; padding: 0 1.5625rem 0 0; font-family: 'Hind', sans-serif;}
/*News Updates*/
.news-update{ margin-top: 2.8125rem}
.news-updates-block{background: #F1F2F3; padding:10px 20px 23px 20px;}
.news-updates-block ul{margin: 0; padding: 0;}
.news-updates-block ul li{margin: 0; padding: 20px 10px 20px 10px; border-bottom: 1px solid #E0E0E0; list-style: none;}
.news-updates-block ul li:last-child{padding-bottom:0; border-bottom: none;}
.news-updates-block ul li .news-img{float: left;}
.news-updates-block ul li .news-content{float: right; width: calc(100% - 102px); padding: 0 0 0 20px;}
.news-updates-block ul li .news-content .nc-top{font-size: 0.75rem; color: #999; padding-bottom: 0.875rem;}
.news-updates-block ul li .news-content .date{font-size: 0.75rem; color: #999; float: right;}
.news-updates-block ul li .news-content p{font-size:0.875rem; color: #000;}
/*Suppliers*/
.suppliers-block{border:3px solid #F1F2F3; background: #FFF;}
.suppliers-block ul{margin: 0; padding: 0;}
.suppliers-block ul li{margin: 0; padding: 28px 0; list-style: none; float: left; width: 33.334%; text-align: center;}

/* Section Special Footer Box */
.section-special-fbox{background: #F1F2F3; padding:28px 0px 31px; width: 100%; background-repeat: no-repeat; background-size: cover; margin-top: 62px;}
.special-fbox-media{ *zoom:1;clear:both;}
.special-fbox-media:before, .special-fbox-media:after {content: " ";display: table}
.special-fbox-media:after { clear: both }
.special-fbox-media-img{float: left; padding-right: 1rem;}
.special-fbox-media h4{font-size: 1.125rem; font-weight: 500; color: #000; margin-bottom: 7px;}
.special-fbox-media p{font-size: 13px; line-height: 20px; color: #666; margin: 0px;}

/* back to  top css */
.back-to-top {cursor:pointer;position:fixed;bottom:20px;right:20px;display:none;}


/* Signup Page and Login Page */
.shdow-box{
-webkit-box-shadow: 0px 2px 23px 4px rgba(0,0,0,0.05);
-moz-box-shadow: 0px 2px 23px 4px rgba(0,0,0,0.05);
box-shadow: 0px 2px 23px 4px rgba(0,0,0,0.05);
background-color: #fff;
}
.register-box-content{ padding:2.3125rem 4.5625rem;}
.img-icon{ margin-right:17px; }
.bdr-right{ border-right:#CDCDCD 1px solid;}
.form-control{ border-radius: 100px; border:#D6D6D6 1px solid; padding: 0.75rem 1.4375rem; font-size: 0.875rem; color:#999; }
.form-horizontal ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#999999; font-size: 0.875rem; 
}
textarea.form-control{ border-radius: 10px; }
select.form-control{ height: inherit !important; }
.form-horizontal ::-moz-placeholder { /* Firefox 19+ */
  color:#999999; font-size: 0.875rem; 
}
.form-horizontal :-ms-input-placeholder { /* IE 10+ */
  color:#999999; font-size: 0.875rem; 
}
.form-horizontal :-moz-placeholder { /* Firefox 18- */
  color:#999999; font-size: 0.875rem; 
}

.form-horizontal option:checked { color:#ff6600; font-size: 0.875rem;  }


.register-box-content h2.block-title{ margin-bottom: 17px; }
.form-group{ margin-bottom:9px; }
.btn{ background-color: #D258A1; color: #fff; padding: 0.75rem 1.4375rem; border:#D258A1 1px solid; font-family: 'Hind', sans-serif; font-size: 1rem; color: #fff; border-radius: 150px;  cursor: pointer;
-webkit-box-shadow: 0px 2px 36px 0.75rem rgba(210,88,161,0.07);
-moz-box-shadow: 0px 2px 36px 0.75rem rgba(210,88,161,0.07);
box-shadow: 0px 2px 36px 0.75rem rgba(210,88,161,0.07);
min-width: 150px;
font-weight: 500;
}
.btn:hover, .btn:focus{ background-color: #B73182; border:#B73182 1px solid;
	-webkit-box-shadow: 0px 2px 36px 0.75rem rgba(210,88,161,0.07);
-moz-box-shadow: 0px 2px 36px 0.75rem rgba(210,88,161,0.07);
box-shadow: 0px 2px 36px 0.75rem rgba(210,88,161,0.07);
}


.regis-caption p, .regis-caption a{ font-size: 0.75rem; }
.regis-caption p{ color: #666666 }

.regis-caption{border-top:#D6D6D6 1px solid; padding-top: 1rem; }
.regis-caption{ margin-top:27px; }

.gray-bg{padding: 45px 0 51px 0; background-color: #f8f8f8;}

.btn-outline{ background-color: #fff; border:#D259A1 1px solid; color: #D258A1; min-width: 150px; box-shadow: none;}
.btn-outline:hover, .btn-outline:focus{box-shadow: none;border:#D259A1 1px solid; color: #D258A1; color:#B73182; background-color: transparent;}
.register-box-content .left-pad-content{ padding-left:3.125rem }

.register-box-content .left-pad-content p{ font-size: 0.875rem; color: #666; }

.login-box-content .forgot, .login-box-content .checkbox{ font-size: 0.875rem; color: #666666}
.login-box-content .forgot{ position: relative; top:-1px; }
.login-box-content .checkbox-rember{ padding-top: 10px; }
.login-box-content .checkbox label input[type ="checkbox"]{ position: relative; top:2px; }
.login-caption{ margin-top: 17px; }


/*Product Listing Page and Detail Css*/
.product-listing-content{ padding:2.3125rem 2.0625rem; }
.product-listing-content h2, .product-listing-content h3{ margin:0; padding: 0; font-size:1.125rem; font-weight: normal; }
.product-listing-content h2{ margin-bottom:0.6875rem; }
.product-listing-content h3{font-size:0.875rem; color: #000; margin-bottom:0.8125rem;}
.product-listing-content .discription{ margin-bottom: 0.375rem;}
.product-listing-content .price{margin-bottom: 0; }
.product-listing-content .img-icon{ margin-right:5px; }
.product-listing-content .btn{ margin-top: 9px; }
.product-listing-btm-space{margin-bottom:1.25rem;}
.pagination-list{ margin-top:2.8125rem; font-family: 'Hind', sans-serif;}
.pagination-list .page-link{
	border: 1px solid #fff; width: 40px; height: 40px; border-radius:100px; 
-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.06);
-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.06);
box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.06);
font-size: 1rem;
color: #666666;
margin-right: 9px;
text-align: center;
line-height: 1.55;

}
.product-listing-content .price, .block-sub-title, .product-detail .sold, .product-detail .available-from{ font-size: 1.125rem; color: #000; }
.product-listing-content .discription, .product-detail .description{ font-size: 0.875rem; color: #666666; }


.pagination-list .page-item.active .page-link{ background-color: #D258A1; border: none; }

.pagination-list .page-item:first-child .page-link{
	    border-bottom-left-radius:100px;
    border-top-left-radius:100px;
    color: #D258A1;
}

.pagination-list .page-item:last-child .page-link {
    border-bottom-right-radius:100px;
    border-top-right-radius: 100px;
    color: #D258A1;
}


.product-detail h2.block-title{ margin-bottom: 1rem; }

.product-detail .block-sub-title{ margin-bottom:5px; }
.product-detail .sold, .product-detail .available-from{ font-size: 1rem; font-weight: 500;}
.product-detail .sold span, .product-detail .available-from span, .view-specification{font-size:0.875rem; color: #666; font-weight: normal;}
.product-detail .available-from{ margin-top:0.875rem; }
.product-detail .view-specification{ margin-top: 13px; }
.product-detail .view-specification a{ text-decoration: underline; }
.product-detail .btn-dot {
    border-radius: 5px;
    border: #D977B2 1px dashed;
    max-width: 190px;
    text-align: center;
    font-size: 1rem;
    padding: 0.5rem 2.125rem;
    font-family: 'Hind', sans-serif;
    margin-top:1.375rem;
}
.product-detail .btn-dot .img-icon {
    margin-right: 10px;
}
.franchise-distributor-body{border-top: #e1e1e1 1px solid; border-bottom: #e1e1e1 1px solid; padding-top:20px; margin-top: 11px; padding-bottom: 19px;}
.franchise-distributor-body .btn{ min-width: 120px; }

.price-content-box{ padding:1.25rem }
.price-content-box{}
.price-title{ font-size:1.125rem; }
.price-content-body{ border-top: #e1e1e1 1px solid; font-size:0.875rem; padding-top:15px;}
.price-content-body .shipping{ margin-top:0.4375rem; margin-bottom: 0.875rem }
.price-content-body .img-icon {
    margin-right: 8px;
}

.price-content-footer .img-icon {
    margin-right: 4px;
}
                            
.quantity-box{ border: #D6D6D6 1px solid; padding:0.625rem;}
.quantity-box .qtyplus, .quantity-box .qtyminus{ background-color: #EFEFEF; width: 19px; height: 19px; border-radius: 100px; border:none; font-weight: 300 !important; color: #666; line-height: 16px; float: right;}
.quantity-box .qtyminus{ margin-right: 13px; }
.quantity-box input{ border:none; font-size:0.875rem; color: #999999}
.quantity-box { margin-bottom: 1.125rem }

.franchise-distributor{ margin-top:3.4375rem; }
.franchise-distributor-content{ padding:1.25rem  }
.franchise-distributor-content .sellers-id{ font-size: 1rem; color: #D258A1 }

.franchise-distributor-content .sellers-id span{ color: #868686 }
.sellers-detail span.black{ margin-right:30px; font-weight: 500; }
.sellers-detail .price, .warranty-text, .estimated-text{ margin-bottom:0.5625rem }
.sellers-detail .ratio span:first-child{ margin-right: 10px; }

.warranty-detail, .estimated-detail{ margin-top: 6px; }
.estimated-detail .img-icon {
    margin-right: 7px;
}
.franchise-distributor-footer{ padding-top: 17px; }

.franchise-distributor-footer .input-group{ max-width: 140px; width: auto; float: left; margin-right: 10px; }

.franchise-distributor-footer .input-group-prepend {
    margin-right: -2px;
}
.franchise-distributor-footer .input-group-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem 0.5rem;
    margin-bottom: 0;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.5;
    color: #666;
    text-align: center;
    white-space: nowrap;
    background-color: #fbfbfb;
    border: 1px solid #CDCDCD;
    border-radius: .25rem;
}


.franchise-distributor-footer .form-control {
    display: block;
    width: 100%;
    padding: 0.125rem .75rem;
    font-size: 0.875rem;
    line-height: 1.9;
    color: #000;
    background-color: #fbfbfb;
    background-clip: padding-box;
    border: 1px solid #CDCDCD;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.specification ul li, .specification ul{ margin:0; padding:0; list-style: none; }

.specification ul li{ margin-bottom: 17px; }
.specification{ margin-top:1.6875rem; }


/*Shpping Cart Page*/
.shipping-cart, .top-pad-with-bradcrumb{ padding-top:0.75rem;}
.d-inline-block .img-icon {
    margin-right: 4px;
    position: relative;
    top: -1px;
}
.d-inline-block:first-child{margin-right: 15px;} 
hr {
    margin-top:0rem;
    margin-bottom:1.25rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}
.shipping-cart h2.block-title{ margin-bottom: 16px; }
.shipping-cart h2.left-block-title{ margin-bottom:28px; }
.cart-heading{ padding:0px 0 1.3125rem 0; }
.shipping-listing-content{padding: 1.6875rem 1.6875rem 0.8125rem 1.6875rem }

.shipping-address-content-second{padding:1.6875rem}
.shipping-cart .product-detail-content h3{ margin-bottom: 0.375rem }

.shipping-cart .product-price .f-s18{ margin-bottom: 0.5rem }

.shipping-cart .product-quantity .quantity-box input.qty{ width: 20%; }

.shipping-cart .product-quantity .quantity-box{
    border-radius: 3px;
    max-width: 104px;
    padding: 0.4375rem 0.625rem;
}
.shipping-cart .shipping-footer{ border-top:#e1e1e1 1px solid; padding-top: 0.9375rem; margin-top: 0.625rem }
.shipping-cart .shipping-footer .d-inline-block{ margin-right: 15px; }
.shipping-cart .shipping-footer .d-inline-block:last-child{ margin-right: 0; }
.shipping-cart .shdow-box{ margin-bottom: 1.25rem; }

.shipping-cart .shipping-right-content{ margin-top: 2.75rem }
.shipping-cart .shipping-right-content ul, .shipping-cart .shipping-right-content ul li, .wizard-step ul, .wizard-step ul li{ margin: 0; padding:0; list-style: none; }

.shipping-cart .shipping-right-content ul li{padding-top:0.8125rem; padding-bottom:0.8125rem; border-bottom: #e1e1e1 1px solid}
.shipping-cart .shipping-right-content ul li:last-child{ border-bottom: none; }

.shipping-cart .shipping-right-content .price-content-body{ padding-top: 0; }
.shipping-cart .shipping-right-content .btn{ min-width: 100%; margin-top:1.3125rem}

.shipping-cart .quantity-box .qtyplus, .shipping-cart .quantity-box .qtyminus{ position: relative; top: 3px; }


.modal-content{ border-radius:0; padding:0 19px }
.modal-footer, .modal-body, .modal-header{ padding:19px 0; }
 .modal-header{ padding:14px 0px; }
.modal-title{ font-size:1.375rem }
.modal-footer{ border-top:none; align-self:center;}
.modal-body .price-content-box{ padding: 0 }
.modal-body{ padding-top:5px; padding-bottom:5px; }
.modal-body  .price-content-body {
    border-top: none;
    font-size: 0.875rem;
    padding-top: 0;
}
.modal-body .quantity-box{ margin-bottom: 0.625rem; }

.modal-body  .price-content-body h4{ margin-bottom: 0.3125rem }
#edititem .modal-dialog{ max-width: 375px; }

/*Bradecrumb Css*/
.breadcrumb{ background-color: transparent; padding:0; margin-bottom: 1.875rem; }
.breadcrumb-item+.breadcrumb-item::before{content:"\f105"; font-family:'FontAwesome';}
.breadcrumb a, .breadcrumb span{ text-decoration: underline; }
.breadcrumb span{ color:#666; }

/*Shpping Addres Page*/
.wizard-step{ margin-top:0.625rem; }
.wizard-step ul li {
    display: inline;
    vertical-align: middle;
    padding-left: 6.1875rem;
    padding-right: 6.1875rem;
    position: relative;
    float: left;
}
.wizard-step ul li a, .wizard-step ul li a span, .list-check-active a span.circle{ display: block; text-align: center; }
.wizard-step ul li a span.circle, .list-check-active a span.circle{ width:30px; height: 30px; border-radius: 100px; text-align: center; line-height: 28px; background-color: #E4E4E4; font-size: 22px; margin:0 auto 9px;  position: relative; z-index: 1}
.wizard-step ul li a{ font-size:1.125rem; color: #868686; position: relative; }
.wizard-step ul li.active a{ color: #D258A0; }
.wizard-step ul li:before, .wizard-step ul li:after{content: ""; position: absolute; height:3px; background-color: #E4E4E4; width:140px; z-index: 0}
.wizard-step ul li.active a span.circle, .list-check-active a span.circle{ background-color: #D258A0; line-height: 28px; }
.wizard-step ul li:before{ left: 0; width: 50%; top:23%; }
.wizard-step ul li:after{ right: 0;width: 50%; top:23%; }
.wizard-step ul li.active:before, .wizard-step ul li.active:after{background-color:#D258A1;}
.shipping-addres hr{margin-top:2rem; margin-bottom:1.875rem;  }
.shipping-address-content{padding:1.875rem;}
.shipping-address-content hr{margin-top:1.75rem; margin-bottom:1.5625rem; }
.form-check-input{ margin-left: 0 }

.shipping-address-content h2.block-title{ margin-bottom: 11px; }

.wizard-step ul li.active a span.circle .fa, .list-check-active a span.circle .fa{ color:#fff; font-weight:normal; font-size: 15px;}
.wizard-step ul li a span.circle .fa{font-size: 15px;}
.shipping-address-right-summary{ padding:0.125rem 0.1875rem 0 }
.shipping-address-right-summary .quantity{ margin-top:0.1875rem }
.shipping-address-right-summary .black{ padding-right:10px}
.shipping-right-content .price-content-body .scroll{ max-height:350px; overflow-y: scroll; overflow-x: hidden; }
.shipping-right-content .item-cart-count{padding:0.625rem 0; border-bottom:#e1e1e1 1px solid}

.payment-right-content .item-cart-count{padding:0; border: none;}
.shipping-method .form-check{ margin-bottom:0.6875rem  }
.shipping-address-content-second .address-detail-list p, .payment-right-content .address-detail-list p{ margin-bottom:0.25rem }
.right-block-link .img-icon, .add-new-address .img-icon{margin-right:10px;}
.add-new-address{ margin:2.625rem  0; }
.list-check-active{ border:#D259A1 1px solid; position: relative; }
.list-check-active a span.circle{ right:-13px; top:-13px; position: absolute; }
.payment-right-content .shipping-address-right-summary .black{padding-right:0; border: none;}
.payment-right-content .img-icon{ margin-right:4px; }
.payment-right-content .address-detail-list{ margin-top:1.0625rem; }
.payment-left-content-block .address-detail-list{ padding-left:18px; }
.payment-left-content-block .apply-discount{ margin-top:1.75rem;}
.complete-order .complete-big-icon{ padding:2.3125rem 0 1.625rem 0;}
.complete-order h2.left-block-title{ margin-bottom:1rem; }
.complete-order p{ margin-bottom:0.3125rem; }


/*Request Quote*/
.request-quote .block-title img{ height: 26px; }

/*Edit Account Setting*/
.edit-account-setting h3{ font-size: 16px; margin-bottom:1.4375rem; border-bottom:#e1e1e1 1px solid; padding-bottom: 19px;}

.edit-account-setting-content{padding:1.4375rem 0.75rem;}
.edit-account-setting-content .change-email-password{padding:0.9375rem 0 0.25rem 0;}

/*Vertical Tab Css Start*/

.tabs_wrapper {
  width: 100%;
  text-align: left;
  margin: 0 auto;
  background: transparent;
}

ul.tabs {
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 10;
    margin:0;
    padding: 0;
    width: 100%;
    max-width: 275px;
    list-style: none;
    -ms-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;

}
ul.tabs li {
  margin: 0;
  cursor: pointer;
  padding: 1.0625rem 1.25rem;
  color: #333;
  font-size: 14px;
   border-left:transparent; 1px solid;
  text-align: left;
  font-weight: 500;
  -ms-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
ul.tabs li:hover {
  color:#D258A1;
  -ms-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
ul.tabs li.active {
  background: #fff;
  border-left: #D258A1 1px solid;
  color:#333333;
  -ms-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.tab_container {
  display: inline-block;
  vertical-align: top;
  position: relative;
  z-index: 20;
  left: 25px;
  width: 74.5%;
  min-width: 10px;
  text-align: left;
  background:transparent;
  border-radius:0px;

}

.tab_content {
  padding:0px;
  height: 100%;
  display: none;
}

.tab_drawer_heading {
  display: none;
}

#tab2 h2.block-title{margin-bottom: 17px;}

.order-history h2.block-title{ margin-bottom:17px; }
.order-history .table-responsive{ display:table; }

.order-history .table th{ border-top:none; font-weight: 500 !important; padding:1.125rem 0.75rem}
.order-history .table tr td{font-size:0.875rem; color: #666666; padding:1.375rem .75rem}
.order-history .table tr td.action .img-icon{margin-right: 3px;}
.order-history .table tr td.action{ text-align: right !important; }
.order-history .table tr td.action .list-inline{ margin-bottom: 0 }

.pending, .delivered, .failed{ display:inline-block; vertical-align: middle; margin-right:12px; width:8px; height: 8px; background-color:#F6A623; border-radius: 100%; }
.failed{ background-color: #FF0000 }
.delivered{ background-color: #7ED321 }
.order-history  hr{ margin-bottom:0rem}
@media screen and (max-width: 781px) {
  ul.tabs {
    display: none;
  }

  .tab_container {
    display: block;
    margin: 0 auto;
    width: 95%;
    border-top: none;
    border-radius: 0;
    box-shadow: 0px 0px 10px black;
  }

  .tab_drawer_heading {
    background-color: #ccc;
    background: #600026;

    /* IE6-9 */
    color: #fff;
    margin: 0;
    padding: 5px 20px;
    display: block;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
  }
  .tab_drawer_heading:hover {
    background: #ccc;
    background: #ae0046;
    
    color: white;
  }

  .d_active {
    background: #fff;
    background: #4c001e;
   
    color: #dddddd;
  }
}















/* Footer */
.page-footer{padding: 0 !important;}
#footer{background: #000; color: #FFF; overflow: hidden;}
.footer h4{font-size: 1.125rem; margin-bottom: 37px; font-weight: normal; position: relative;}
.footer h4:before{content: ''; background: #FFF; width: 30px; height: 2px; position: absolute; left: 0; bottom: -6px;}


.footer .blank-title h4:before{ display: none; }
.footer .list{padding: 0px; font-size: 0.875rem;}
.footer .list .list-item{list-style: none;line-height: 1.375rem; padding-bottom: 0.75rem; margin: 0;}
.footer .list .list-item a {color: #A5A5A5; font-weight: lighter; } 
.footer .list .list-item a:hover{color: #D258A1; text-decoration: none;}

.footer .address-list{padding: 0px; font-size: 0.875rem;}
.footer .address-list .address-list-item{list-style: none;line-height: 1.375rem; position: relative; color: #A5A5A5; padding: 0 0 10px 30px;}
.footer .address-list .address-list-item i.fa{position: absolute; top: 4px; left: 0;}
.footer .address-list .address-list-item i.fa.fa-home{font-size: 1.125rem;}
.footer .address-list .address-list-item i.fa.fa-envelope{font-size: 15px;}
.footer .address-list .address-list-item i.fa.fa-phone{font-size: 1.125rem;}
.footer .address-list .address-list-item a {color: #A6A6A6; font-weight: lighter; } 
.footer .address-list .address-list-item a:hover{color: #D258A1; text-decoration: none;}
.footer .payment-card{padding-top: 30px;}
/*Newsletter Form*/
.footer .newsletter-form{}
.footer .newsletter-form p{font-size: 0.875rem; color: #A5A5A5; margin-bottom: 20px;}
.footer .newsletter-form .newsletter-form-item{position: relative; background: #1A1A1A; border-radius: 100px; min-height: 46px;}
.footer .newsletter-form .newsletter-form-item input[type="text"], .footer .newsletter-form .newsletter-form-item input[type="email"]{font-size: 0.75rem; background:none; border: none; width: calc(100% - 37px); padding: 0.875rem; min-height: 44px;}
.footer .newsletter-form .newsletter-form-item .newsletter-btn{background:#D258A1 url(../images/icon-newsletter.png) no-repeat center center; border: none; width: 37px; height: 37px; line-height: 37px; text-align: center; text-indent: -999px; border-radius: 100px; position: absolute; right: 5px; top: 4px; box-shadow: 2px 2px 1.375rem 4px rgba(210,88,161,0.18);}
.footer .newsletter-form .newsletter-form-item .newsletter-btn:hover{background-color: #B73182;}
.footer .social-list{margin: 0; padding: 40px 0 0 0;}
.footer .social-list .social-list-item{list-style: none; margin: 0; padding: 0 10px 0 0; display: inline-block;}
.footer .social-list .social-list-item a{font-size: 1.125rem; color: #A6A6A6;}
.footer .social-list .social-list-item a:hover{color: #D258A1;}
.footer{padding:45px 0 0 0;}
.footer a img{margin-bottom: 30px;}
.copyright{text-align: center; padding: 20px 0 20px 0; font-size: 0.875rem; color: #A5A5A5; margin: 0; background-color: transparent;}
.copyright span{color: #FFF;}
/* General */
.w-full{width: 100%;}
.checked{color: #f2c81d; font-size: 0.875rem;}
.unchecked{color: #e5e5e5; font-size: 0.875rem;}
.bdr-bottom{border-bottom: 1px solid #3C3C3C;}
.bdr-dashed{border-bottom: 1px dashed #333;}
.bdr-dashed-top{border-top: 1px dashed #333;}
.shop-online {padding: 15px 20px; font-size: 1.125rem; margin: 20px 0px; font-weight: 600; }
.contact-us{text-align: center;}
.contact-us .btn-blue {margin: 20px 0px 30px; padding: 10px 15px;}

/* Footer */
@media (min-width: 1200px){
.container {width: 1200px;}
}
@media (min-width: 768px) and (max-width: 1200px){
.navbar-right.checkout li{padding: 0 0 0 0.875rem;}
.carousel-control .carousel-control-prev-icon, .carousel-control .carousel-control-next-icon{font-size: 1.375rem; line-height: 34px; width: 36px; height: 36px;}
.carousel-control .carousel-control-next-icon{padding-left: 5px;}
.carousel-caption h2{font-size: 30px; margin: 0 0 6px 0;}
.carousel-caption p{font-size: 15px; line-height: 20px; margin: 0 auto 0.75rem auto;}
.carousel-caption .carousel-btn{min-width: 138px; padding: 8px 10px; font-size: 15px;}
}

@media (max-width: 991px){
.section-special-fbox{padding-bottom: 10px;}
.special-fbox-media{padding-bottom: 20px;}
.custom-nav .navbar-nav>li>a{padding: 0.75rem 8px; font-size: 13px;}
.carousel-caption h2{font-size: 24px; margin: 0 0 6px 0;}
.carousel-caption p{font-size: 13px; line-height: 20px; margin: 0 auto 0.75rem auto;}
.carousel-caption .carousel-btn{min-width: 138px; padding: 8px 10px; font-size: 15px;}
}

@media (max-width: 767px){
.custom-header .free-shipping.navbar-right {font-size: 20px; padding: 0px 0px; margin-top: -10px; }
.custom-header {background-color: #f1f1f1; padding: 10px 5px; }
.navbar-toggle .icon-bar {background: #0e0e0e; width: 30px; height: 4px;}
.header-top ul.header-top-left{display: none;}
.custom-header .minisearch .field.search .action.search{height: 1.5625rem; width: 1.5625rem; background-size: 13px;}
.custom-header .minisearch .field.search .input-text{padding: 3px 15px;}
.custom-nav .all-product-menu{margin: 0;}
.custom-nav ul.nav.navbar-nav{margin: 0;}
.suppliers-block ul li{width: 50%; padding: 15px 0;}
.carousel-control .carousel-control-prev-icon, .carousel-control .carousel-control-next-icon{font-size: 1.375rem; line-height: 29px; width: 30px; height: 30px; color: #000; background: rgba(0,0,0,0.2);}
.carousel-control .carousel-control-prev-icon{left: 5px;}
.carousel-control .carousel-control-next-icon{padding-left: 5px; right: 5px;}
.carousel-caption{position: static; top: 0; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); color: #000;}
.carousel-control.left{background-image: -webkit-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0)),to(rgba(0,0,0,0)));
    background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=0); background-repeat: repeat-x;}
.carousel-control.right{background-image: -webkit-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0)),to(rgba(0,0,0,0)));
    background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=0); background-repeat: repeat-x;}
.product{padding-top: 15px;}
.footer{padding: 1.375rem 15px 0;}
.footer h4{margin-bottom: 20px;}
.footer .payment-card{padding-top:7px; padding-bottom: 30px;}
.footer .list .list-item{padding-bottom: 6px;}
.copyright{padding: 13px 0 13px 0; font-size: 11px;}
}

@media (max-width: 480px){
.custom-nav{z-index: 1; }
.brand-logo {height: 65px;}
.brand-logo li {padding: 0px 5px;} 
.product h2 {font-size: 21px;} 
.newsletter .input-group {margin-top: 20px; }
.custom-nav .contact-no {text-align: center;}
.news-updates-block ul li{padding: 20px 10px 6px 10px;}
.news-updates-block ul li .news-img{width: 100%;}
.news-updates-block ul li .news-content{width: 100%; padding:10px 0 0 0;}

.registration_success_message{
    color: #D258A1;
    font-weight: bold;
    margin-bottom: 25px;
}
