/*Fonts Used
font-family: 'Poppins', sans-serif;
font-family: 'Hind', sans-serif;
*/
body {font-family: 'Poppins', sans-serif; color: #333; font-size: 16px;}

h2, .special-fbox-media h4, .footer h4, .carousel-caption .carousel-btn, .product .product-details h3{font-family: 'Hind', sans-serif;}
a{color: #D258A1;outline: none;}
input[type="button"], input[type="submit"]{outline: none;}
input:focus{outline: none; box-shadow: 0 0 0 0 transparent !important;}
/* Alignment */
.m-t10{margin-top: 10px !important;}
.m-t15{margin-top: 15px !important;}
.m-t15{margin-top: 20px !important;}
.m-l10{margin-left: 10px !important;}
.m-r10{margin-right: 10px !important;}
.p-t30{padding-top: 30px !important;}
.p-b20{padding-bottom: 20px !important;}
.p-b50{padding-bottom: 50px !important;}
.f-s14{font-size: 14px !important;}
.compare.wrapper{display: none !important;}
/* Text color */
.bg-yellow {background-color:#f2c81d;}
.bg-skyblue{background-color: #00adef !important;}
/* Text color */
.text-white{color: #fff;}

/* Top Header and Navigation */
.logo{max-width: 100% !important; margin: 0 !important;}
.header-top{position: relative; padding: 13px 0;}
.header-top:after{content:''; background: #D6D6D6; width: 100%; max-width: 1170px; height: 1px; margin: 0 auto; position: absolute; left: 50%; bottom: 0; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%);}
.header-top ul{margin: 0; padding: 0; font-size: 12px;}
.header-top ul li{margin: 0; padding: 0; list-style: none; display: inline-block; color: #333;}
.header-top ul li a{color: #333; text-decoration: none;}
.header-top ul li a:hover{color: #D258A1;}
.header-top .header-top-left i{color:#000; margin-right: 4px;}
.header-top .header-top-left i.fa-phone{font-size: 14px; font-weight: bold; position: relative; top: 2px;}
.header-top .header-top-left li{padding-left: 30px;}
.header-top .header-top-left li:first-child{padding-left:0px;}
.header-top .header-top-right{float: right;}
.header-top .header-top-right .hello-user i{color:#000; margin-right: 4px;}
.header-top .header-top-right .hello-user{color: #AAA; position: relative; padding: 0 11px 0 0; margin-right: 6px;}
.header-top .header-top-right .hello-user:before{content:''; background-color: #AAA; width: 1px; height: 18px; position: absolute; top: 0; right: 0;}
.custom-header{padding: 16px 0;margin-bottom:0px !important;}
.nav-container{max-width: 1200px; margin: 0 auto;}
.custom-header .navbar-brand {padding:0; height: auto !important;}
.custom-header .free-shipping.navbar-right {font-size: 24px; font-weight: 500; padding: 15px 50px;}
.custom-header input.form-control{padding: 22px 20px; border-radius: 0px 5px 5px 0px;} 
.custom-header .input-group-addon {padding: 0px 17px; background: #fff; border-radius: 5px 0px 0px 5px;}
.navbar-right.checkout{padding:0;}
.navbar-right.checkout li{padding: 0 0 0 37px; font-size: 14px; color: #333; border: none; position: relative;}
.navbar-right.checkout li:first-child{padding: 0;}
.navbar-right.checkout li a{font-size: 14px; line-height: 19px; color: #333; border: none; padding: 0;}
.navbar-right.checkout li a:hover{background-color: transparent; color: #D258A1;}
.navbar-right.checkout li span{color: #AAA; font-size: 12px;}
.navbar-right.checkout li .icon{float: left; margin-right: 12px; margin-top: 1px; position: relative;}
.navbar-right.checkout li .cart-count{position: absolute; top: -4px; right: -6px; background-color: #D258A1; color: #FFF; font-size: 12px; min-width: 21px; line-height: 16px; text-align: center; height: 21px; font-style: normal; border-radius: 100px; padding: 2px;}
.custom-header form.navbar-form.navbar-right {padding: 0px 50px;}
.custom-header .minisearch{padding-top: 11px;}
.custom-header .minisearch .field.search{background-color: #FFF; border: 1px solid #D6D6D6; border-radius: 100px; padding: 5px;}
.custom-header .minisearch .field.search .input-text{background: none; border: none; font-size: 14px; color: #999; width: calc(100% - 40px); padding: 7px 15px;}
.custom-header .minisearch .field.search .action.search{background:#D258A1 url(../images/icon-search.png) no-repeat center center; width: 35px; height: 35px; border-radius: 100px; border: none; float: right; box-shadow: 2px 2px 22px 4px rgba(210,88,161,0.18); cursor: pointer;}
.custom-header .minisearch .field.search .action.search:hover{background-color: #B73182;}
.custom-header .minisearch .field.search .action.search span{display: none;}
.search-history{padding: 0 0 0 20px;}
.search-history a{font-size: 12px; color: #878787; text-decoration: none;}
.search-history a i.fa{color: #adabab; font-size: 19px; position: relative; top:3px; margin-left: 3px;}
.search-history a:hover, .search-history a:hover i.fa{color: #D258A1;}

.custom-nav{background-color: #D258A1;padding: 0;}
.custom-nav .contact-no{font-size: 25px; color: #fff; margin-top: 7px;}
.custom-nav .navbar-nav>li>a{color: #fff; padding: 12px 20px; font-size: 14px;}
.custom-nav .navbar-nav li a:hover, .custom-nav .navbar-nav li a:focus, .custom-nav .navbar-nav li a.active{background-color: transparent; color: #000;}
.custom-nav  .nav .open>a, .nav .open>a:focus, .nav .open>a:hover{background-color: transparent;;}
.custom-nav ul.nav.navbar-nav {margin-top: 0;}
.custom-nav ul.nav.navbar-nav li{margin-bottom: 0 !important;}
.custom-nav .all-product-menu{margin: 0 -15px;}
.custom-nav .all-product-menu .navbar-nav li .dropdown-toggle{border:none; border-radius:0; background: #B73182;}
.custom-nav .all-product-menu .navbar-nav li .dropdown-toggle:hover{background: #96276a;}
.custom-nav .all-product-menu .navbar-nav{width: 100%;}
.custom-nav .all-product-menu .navbar-nav li{width: 100%; margin-bottom: 0 !important;}
.custom-nav .all-product-menu .navbar-nav li .caret{border-width: 5px; position: absolute; right: 17px; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);}
.custom-nav .all-product-menu .navbar-nav>li>.dropdown-menu{width: 100%; border-radius: 0;}
.banner{overflow: hidden;}
/* Button */
.btn-blue{background-color: #002A5C; color: #fff; font-weight: 500;     transition: all linear 300ms;}
.btn-blue:hover{color: #fff; background-color: #043b7c;}
.btn-green{background-color: #6fc100; color: #fff; text-decoration: none;}
.btn-green:hover{color: #fff;}

.page-main{max-width: 100% !important; padding: 0 !important;}
.page-main .column.main{padding-bottom: 0 !important;}
.cms-home .page-title-wrapper{display: none;}

/* Thumbnail section */
.white-bg{background-image: url(../images/thumbnail-bg.jpg); padding-bottom: 25px; width: 100%;  background-repeat: no-repeat; background-size: cover;}
.brand-logo {padding: 0; display: table; height: 150px; width: 100%; }
.brand-logo li {list-style: none; display: table-cell; vertical-align: middle; }
.custom-thumbnail{padding: 0px;    border-radius: 8px;}
a.custom-thumbnail.active, a.custom-thumbnail:focus, a.custom-thumbnail:hover {border-color: transparent; }
.custom-thumbnail img{border-radius: 8px 8px 0px 0px; width: 100%;}
.custom-thumbnail .thumb-text{background: #00ADEF; color: #fff; font-size: 14px; padding: 10px 20px; border-radius: 0px 0px 8px 8px;} 
.custom-thumbnail .thumb-text .arrow{transform: rotate(90deg); float: right; font-size: 18px;}

.carousel-control{opacity: 1; text-shadow: none;}
.carousel-control .fa-angle-left, .carousel-control .fa-angle-right{position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); z-index: 5; display: inline-block; color: #FFF; font-size: 50px; background: rgba(238,238,238,0.2); width: 60px; height: 60px; text-align: center; text-shadow: none; border-radius: 100px; line-height: 55px;}
.carousel-control .fa-angle-left{padding-right: 2px; left: 52px;}
.carousel-control .fa-angle-right{padding-left: 8px; right: 52px;}
.carousel-caption{bottom: auto; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); text-shadow: none; color: #FFF;}
.carousel-caption h2{font-size: 40px; font-weight: 400; margin: 0 0 12px 0;}
.carousel-caption p{font-size: 16px; line-height: 28px; max-width: 630px; margin:0 auto 25px auto;}
.carousel-caption .carousel-btn{background: #FFF; border-radius: 100px; color: #D258A1; font-size: 16px; font-weight: 500; padding: 10px 12px; text-shadow: none; min-width: 160px; display: inline-block; text-decoration: none;}
.carousel-caption .carousel-btn:hover{background: #D258A1; border-radius: 100px; color: #FFF;}


/* Product*/
.product {padding-top: 36px; padding-bottom: 37px; position: relative;}
.product .product-item{background: #FFF; box-shadow: 0 0px 24px 13px rgba(0,0,0,0.039); position: relative;}
.product h2{color: #000; font-size: 22px; font-weight: 600; margin-bottom: 35px;}
.product a {font-size: 15px; text-decoration: underline; }
.product-img{text-align: center; padding: 29px 0 0 0; }
.product-img img {display: inline-block; }
.product .product-item .wishlist{position: absolute; top: 10px; right: 10px;}
.product .product-item .wishlist a{color:#CCCCCC; font-size: 20px;}
.product .product-item .wishlist a:hover, .product .product-item .wishlist a.active{color:#D258A1;}
.product .product-details{text-align: center; padding: 0 0 30px 0;}
.product .product-details h3 {font-size: 16px; font-weight: 500; color: #D258A1; margin-bottom: 7px;}
.product .product-details h3 a{font-size: 16px; font-weight: 500; color: #D258A1; text-decoration: none;}
.product .product-details h3:hover a{color: #23527c;}
.product .product-details p {font-size: 12px; color: #666;}
.product .price {color: #333333; font-size: 18px; font-weight: 600;} 
.product  a.btn.btn-green{    text-decoration: none; color: 12px; font-size: 12px; padding: 5px; text-transform: uppercase; 	float: right;}
.product .slide-controle{position: absolute; right: 0; top: 40px;}
.product .slide-controle .slide-next, .product .slide-controle .slide-prev{background: #FFF; box-shadow: 2px 3px 10px 6px rgba(0,0,0,0.05); width: 30px; height: 30px; text-align: center; border-radius: 100px; line-height: 30px; cursor: pointer; color: #464C5D;}
.product .slide-controle .slide-next:hover, .product .slide-controle .slide-prev:hover{color: #FFF; background: #464C5D;}
.product .slide-controle .slide-next{position: absolute; top: 0; right: 0;}
.product .slide-controle .slide-prev{position: absolute; top: 0; right: 40px;}


h2.block-title{color: #000; font-size: 22px; font-weight: 600; margin-bottom: 35px;}
.view-all{font-size: 14px; font-family: 'Poppins', sans-serif; font-weight: normal; float: right; background: url(../images/arrow-right.png) no-repeat right -1px; display: inline-block; padding: 0 25px 0 0;}
/*News Updates*/
.news-updates-block{background: #F1F2F3; padding:10px 20px 23px 20px;}
.news-updates-block ul{margin: 0; padding: 0;}
.news-updates-block ul li{margin: 0; padding: 20px 10px 20px 10px; border-bottom: 1px solid #E0E0E0; list-style: none;}
.news-updates-block ul li:last-child{padding-bottom:0; border-bottom: none;}
.news-updates-block ul li .news-img{float: left;}
.news-updates-block ul li .news-content{float: right; width: calc(100% - 102px); padding: 0 0 0 20px;}
.news-updates-block ul li .news-content .nc-top{font-size: 12px; color: #999; padding-bottom: 14px;}
.news-updates-block ul li .news-content .date{font-size: 12px; color: #999; float: right;}
.news-updates-block ul li .news-content p{font-size: 15px; color: #000;}
/*Suppliers*/
.suppliers-block{border:3px solid #F1F2F3; background: #FFF;}
.suppliers-block ul{margin: 0; padding: 0;}
.suppliers-block ul li{margin: 0; padding: 28px 0; list-style: none; float: left; width: 33.334%; text-align: center;}

/* Section Special Footer Box */
.section-special-fbox{background: #F1F2F3; padding:28px 0px 31px; width: 100%; background-repeat: no-repeat; background-size: cover; margin-top: 62px;}
.special-fbox-media{ *zoom:1;clear:both;}
.special-fbox-media:before, .special-fbox-media:after {content: " ";display: table}
.special-fbox-media:after { clear: both }
.special-fbox-media-img{float: left; padding-right: 16px;}
.special-fbox-media h4{font-size: 18px; font-weight: 500; color: #000; margin-bottom: 7px;}
.special-fbox-media p{font-size: 13px; line-height: 20px; color: #666; margin: 0px;}

/* Footer */
.page-footer{padding: 0 !important;}
#footer{background: #000; color: #FFF; overflow: hidden;}
.footer h4{font-size: 18px; margin-bottom: 37px; font-weight: normal; position: relative;}
.footer h4:before{content: ''; background: #FFF; width: 30px; height: 2px; position: absolute; left: 0; bottom: -6px;}
.footer .list{padding: 0px; font-size: 14px;}
.footer .list .list-item{list-style: none;line-height: 22px; padding-bottom: 12px; margin: 0;}
.footer .list .list-item a {color: #A6A6A6; font-weight: lighter; } 
.footer .list .list-item a:hover{color: #D258A1; text-decoration: none;}

.footer .address-list{padding: 0px; font-size: 14px;}
.footer .address-list .address-list-item{list-style: none;line-height: 22px; position: relative; color: #A5A5A5; padding: 0 0 10px 30px;}
.footer .address-list .address-list-item i.fa{position: absolute; top: 4px; left: 0;}
.footer .address-list .address-list-item i.fa.fa-home{font-size: 18px;}
.footer .address-list .address-list-item i.fa.fa-envelope{font-size: 15px;}
.footer .address-list .address-list-item i.fa.fa-phone{font-size: 18px;}
.footer .address-list .address-list-item a {color: #A6A6A6; font-weight: lighter; } 
.footer .address-list .address-list-item a:hover{color: #D258A1; text-decoration: none;}
.footer .payment-card{padding-top: 30px;}
/*Newsletter Form*/
.footer .newsletter-form{}
.footer .newsletter-form p{font-size: 14px; color: #A5A5A5; margin-bottom: 20px;}
.footer .newsletter-form .newsletter-form-item{position: relative; background: #1A1A1A; border-radius: 100px; min-height: 46px;}
.footer .newsletter-form .newsletter-form-item input[type="text"], .footer .newsletter-form .newsletter-form-item input[type="email"]{font-size: 12px; background:none; border: none; width: calc(100% - 37px); padding: 14px; min-height: 44px;}
.footer .newsletter-form .newsletter-form-item .newsletter-btn{background:#D258A1 url(../images/icon-newsletter.png) no-repeat center center; border: none; width: 37px; height: 37px; line-height: 37px; text-align: center; text-indent: -999px; border-radius: 100px; position: absolute; right: 5px; top: 4px; box-shadow: 2px 2px 22px 4px rgba(210,88,161,0.18);}
.footer .newsletter-form .newsletter-form-item .newsletter-btn:hover{background-color: #B73182;}
.footer .social-list{margin: 0; padding: 40px 0 0 0;}
.footer .social-list .social-list-item{list-style: none; margin: 0; padding: 0 10px 0 0; display: inline-block;}
.footer .social-list .social-list-item a{font-size: 18px; color: #A6A6A6;}
.footer .social-list .social-list-item a:hover{color: #D258A1;}
.footer{padding:45px 0 0 0;}
.footer a img{margin-bottom: 30px;}
.copyright{text-align: center; padding: 20px 0 20px 0; font-size: 14px; color: #A5A5A5; margin: 0; background-color: transparent;}
.copyright span{color: #FFF;}
/* General */
.w-full{width: 100%;}
.checked{color: #f2c81d; font-size: 14px;}
.unchecked{color: #e5e5e5; font-size: 14px;}
.bdr-bottom{border-bottom: 1px solid #3C3C3C;}
.bdr-dashed{border-bottom: 1px dashed #333;}
.bdr-dashed-top{border-top: 1px dashed #333;}
.shop-online {padding: 15px 20px; font-size: 18px; margin: 20px 0px; font-weight: 600; }
.contact-us{text-align: center;}
.contact-us .btn-blue {margin: 20px 0px 30px; padding: 10px 15px;}

/* Footer */
@media (min-width: 1200px){
.container {width: 1200px;}
}
@media (min-width: 768px) and (max-width: 1200px){
.navbar-right.checkout li{padding: 0 0 0 14px;}
.carousel-control .fa-angle-left, .carousel-control .fa-angle-right{font-size: 22px; line-height: 34px; width: 36px; height: 36px;}
.carousel-control .fa-angle-right{padding-left: 5px;}
.carousel-caption h2{font-size: 30px; margin: 0 0 6px 0;}
.carousel-caption p{font-size: 15px; line-height: 20px; margin: 0 auto 12px auto;}
.carousel-caption .carousel-btn{min-width: 138px; padding: 8px 10px; font-size: 15px;}
}

@media (max-width: 991px){
.section-special-fbox{padding-bottom: 10px;}
.special-fbox-media{padding-bottom: 20px;}
.custom-nav .navbar-nav>li>a{padding: 12px 8px; font-size: 13px;}
.carousel-caption h2{font-size: 24px; margin: 0 0 6px 0;}
.carousel-caption p{font-size: 13px; line-height: 20px; margin: 0 auto 12px auto;}
.carousel-caption .carousel-btn{min-width: 138px; padding: 8px 10px; font-size: 15px;}
}

@media (max-width: 767px){
.custom-header .free-shipping.navbar-right {font-size: 20px; padding: 0px 0px; margin-top: -10px; }
.custom-header {background-color: #f1f1f1; padding: 10px 5px; }
.navbar-toggle .icon-bar {background: #0e0e0e; width: 30px; height: 4px;}
.header-top ul.header-top-left{display: none;}
.custom-header .minisearch .field.search .action.search{height: 25px; width: 25px; background-size: 13px;}
.custom-header .minisearch .field.search .input-text{padding: 3px 15px;}
.custom-nav .all-product-menu{margin: 0;}
.custom-nav ul.nav.navbar-nav{margin: 0;}
.suppliers-block ul li{width: 50%; padding: 15px 0;}
.carousel-control .fa-angle-left, .carousel-control .fa-angle-right{font-size: 22px; line-height: 29px; width: 30px; height: 30px; color: #000; background: rgba(0,0,0,0.2);}
.carousel-control .fa-angle-left{left: 5px;}
.carousel-control .fa-angle-right{padding-left: 5px; right: 5px;}
.carousel-caption{position: static; top: 0; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); color: #000;}
.carousel-control.left{background-image: -webkit-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0)),to(rgba(0,0,0,0)));
    background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=0); background-repeat: repeat-x;}
.carousel-control.right{background-image: -webkit-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0)),to(rgba(0,0,0,0)));
    background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=0); background-repeat: repeat-x;}
.product{padding-top: 15px;}
.footer{padding: 22px 15px 0;}
.footer h4{margin-bottom: 20px;}
.footer .payment-card{padding-top:7px; padding-bottom: 30px;}
.footer .list .list-item{padding-bottom: 6px;}
.copyright{padding: 13px 0 13px 0; font-size: 11px;}
}

@media (max-width: 480px){
.custom-nav{z-index: 1; }
.brand-logo {height: 65px;}
.brand-logo li {padding: 0px 5px;} 
.product h2 {font-size: 21px;} 
.newsletter .input-group {margin-top: 20px; }
.custom-nav .contact-no {text-align: center;}
.news-updates-block ul li{padding: 20px 10px 6px 10px;}
.news-updates-block ul li .news-img{width: 100%;}
.news-updates-block ul li .news-content{width: 100%; padding:10px 0 0 0;}
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }